
<!-- TPL NOTICIA DESTACADA -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="172" bgcolor="#000000" align="left" valign="bottom" style="padding:10px;">
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#FFFFFF; font-size:10px; font-weight: normal; text-transform: uppercase;">Madrid, 25/12/2013</font><br />
			<font style="font-family:'Georgia, serif'; color:#FFFFFF; font-size:24px; font-weight: normal;"><a href="http://dev.devtopia.coop/myp/" style="color:#FFFFFF; text-decoration: none;">Lander estis et volupta tiusape lorem ipsumat</a></font>
		</td>
		<td width="395"><img src="http://placehold.it/395x215" width="395" height="215" /></td>
	</tr>
</table>


<!-- TPL NOTICIA 1 -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td colspan="2" style="padding-bottom:10px;">
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#646567; font-size:14px; font-weight: normal;">Landerferum et estis volupta tiusape</font><br />
			<font style="font-family:'Georgia, serif'; color:#006AA7; font-size:28px; font-weight: normal;"><a href="http://dev.devtopia.coop/myp/" style="color:#006AA7; text-decoration: none;">Lander estis et volupta tiusape lorem ipsumat</a></font>
		</td>
	</tr>
	<tr>
		<td width="322" align="left" valign="top" style="padding-right:10px;">
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#3E3D40; font-size:16px; font-weight: bold; display:block; margin-bottom: -10px;">Landerferum et estis volupta tiusape sequundio re et optat occatio rescidente doluptu riorpor assitec usantis coreium evel mo ra dolo te.</font><br />
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#006AA7; font-size:10px; font-weight: normal; text-transform: uppercase; display:block; margin-bottom: -10px;">Madrid, 25/12/2013 - <font style="text-transform:none;">Firma del artículo</font></font><br />
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#868686; font-size:14px; font-weight: normal; display:block; margin-bottom: -10px;">Alit evel eum ipiciis mi, ius antorite volut etur aborem. Ihil mi, estia sandita tempos volut exero te volo quiatius, siatius, sumente quasimet ut eostis sime re. <a href="http://dev.devtopia.coop/myp/" style="color:#006AA7; text-decoration: none;">Leer más [+]</a></font><br />
		</td>
		<td width="245" valign="top"><img src="http://placehold.it/245x140" width="245" height="140" /></td>
	</tr>
</table>


<!-- TPL NOTICIA 2 -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="160" valign="top"><img src="http://placehold.it/160x140" width="160" height="140" /></td>
		<td width="407" style="padding-left:10px;">
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#646567; font-size:14px; font-weight: normal;">Landerferum et estis volupta tiusape</font><br />
			<font style="font-family:'Georgia, serif'; color:#006AA7; font-size:24px; font-weight: normal;"><a href="http://dev.devtopia.coop/myp/" style="color:#006AA7; text-decoration: none;">Lander estis et volupta tiusape lorem ipsumat</a></font>
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#3E3D40; font-size:14px; font-weight: bold; display:block; margin-bottom: -10px;">Landerferum et estis volupta tiusape sequundio re et optat occatio rescidente doluptu riorpor assitec usantis coreium evel mo ra dolo te.</font><br />
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#006AA7; font-size:10px; font-weight: normal; text-transform: uppercase; display:block; margin-bottom: -10px;">Madrid, 25/12/2013 - <font style="text-transform:none;">Firma del artículo</font></font><br />
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#868686; font-size:12px; font-weight: normal; display:block; margin-bottom: -10px;">Alit evel eum ipiciis mi, ius antorite volut etur aborem. Ihil mi, estia sandita tempos volut exero te volo quiatius, siatius, sumente quasimet ut eostis sime re. <a href="http://dev.devtopia.coop/myp/" style="color:#006AA7; text-decoration: none;">Leer más [+]</a></font><br />
		</td>
	</tr>
</table>


<!-- TPL NOTICIA 3 -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="407" style="padding-right:10px;">
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#646567; font-size:14px; font-weight: normal;">Landerferum et estis volupta tiusape</font><br />
			<font style="font-family:'Georgia, serif'; color:#006AA7; font-size:24px; font-weight: normal;"><a href="http://dev.devtopia.coop/myp/" style="color:#006AA7; text-decoration: none;">Lander estis et volupta tiusape lorem ipsumat</a></font>
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#3E3D40; font-size:14px; font-weight: bold; display:block; margin-bottom: -10px;">Landerferum et estis volupta tiusape sequundio re et optat occatio rescidente doluptu riorpor assitec usantis coreium evel mo ra dolo te.</font><br />
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#006AA7; font-size:10px; font-weight: normal; text-transform: uppercase; display:block; margin-bottom: -10px;">Madrid, 25/12/2013 - <font style="text-transform:none;">Firma del artículo</font></font><br />
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#868686; font-size:12px; font-weight: normal; display:block; margin-bottom: -10px;">Alit evel eum ipiciis mi, ius antorite volut etur aborem. Ihil mi, estia sandita tempos volut exero te volo quiatius, siatius, sumente quasimet ut eostis sime re. <a href="http://dev.devtopia.coop/myp/" style="color:#006AA7; text-decoration: none;">Leer más [+]</a></font><br />
		</td>
		<td width="160" valign="top"><img src="http://placehold.it/160x140" width="160" height="140" /></td>
	</tr>
</table>


<!-- TPL NOTICIA 4 - ES COMO LA 2 -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="160" valign="top"><img src="http://placehold.it/160x140" width="160" height="140" /></td>
		<td width="407" style="padding-left:10px;">
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#646567; font-size:14px; font-weight: normal;">Landerferum et estis volupta tiusape</font><br />
			<font style="font-family:'Georgia, serif'; color:#006AA7; font-size:24px; font-weight: normal;"><a href="http://dev.devtopia.coop/myp/" style="color:#006AA7; text-decoration: none;">Lander estis et volupta tiusape lorem ipsumat</a></font>
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#3E3D40; font-size:14px; font-weight: bold; display:block; margin-bottom: -10px;">Landerferum et estis volupta tiusape sequundio re et optat occatio rescidente doluptu riorpor assitec usantis coreium evel mo ra dolo te.</font><br />
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#006AA7; font-size:10px; font-weight: normal; text-transform: uppercase; display:block; margin-bottom: -10px;">Madrid, 25/12/2013 - <font style="text-transform:none;">Firma del artículo</font></font><br />
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#868686; font-size:12px; font-weight: normal; display:block; margin-bottom: -10px;">Alit evel eum ipiciis mi, ius antorite volut etur aborem. Ihil mi, estia sandita tempos volut exero te volo quiatius, siatius, sumente quasimet ut eostis sime re. <a href="http://dev.devtopia.coop/myp/" style="color:#006AA7; text-decoration: none;">Leer más [+]</a></font><br />
		</td>
	</tr>
</table>


<!-- TPL NOTICIA 5 y superior -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="567">
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#646567; font-size:14px; font-weight: normal;">Landerferum et estis volupta tiusape</font><br />
			<font style="font-family:'Georgia, serif'; color:#006AA7; font-size:24px; font-weight: normal;"><a href="http://dev.devtopia.coop/myp/" style="color:#006AA7; text-decoration: none;">Lander estis et volupta tiusape lorem ipsumat</a></font>
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#3E3D40; font-size:14px; font-weight: bold; display:block; margin-bottom: -10px;">Landerferum et estis volupta tiusape sequundio re et optat occatio rescidente doluptu riorpor assitec usantis coreium evel mo ra dolo te.</font><br />
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#006AA7; font-size:10px; font-weight: normal; text-transform: uppercase; display:block; margin-bottom: -10px;">Madrid, 25/12/2013 - <font style="text-transform:none;">Firma del artículo</font></font><br />
			<font style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#868686; font-size:12px; font-weight: normal; display:block; margin-bottom: -10px;">Alit evel eum ipiciis mi, ius antorite volut etur aborem. Ihil mi, estia sandita tempos volut exero te volo quiatius, siatius, sumente quasimet ut eostis sime re. <a href="http://dev.devtopia.coop/myp/" style="color:#006AA7; text-decoration: none;">Leer más [+]</a></font><br />
		</td>
	</tr>
</table>
