/**
  * @file default.css
  * default.css contains all the default CSS styling for theme(s) based on OpenPublish Wireframe.
  * This includes the mobile-first stlying that will/can be overwritten by
  * additional responsive layout css files and global.css in your subtheme.
  */
/*
@import url("styles.css");
@import url("bootstrap.css");
*/
@import url("bootstrap.css");

body {
  color: #787878;
  /*font: 62.5%/1.8 'Verdana';*/
  font-size: 14px;
}

a, a:link, a:visited, a:active {
  color: #787878;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #00578a;
}

.contextual-links-wrapper a {
  border-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0 10px 0;
  font-family: 'Georgia';
  /*font-variant: small-caps;*/
  font-weight: normal;
  letter-spacing: normal;
}

h1 a, h1 a:link, h1 a:visited,
h2 a, h2 a:link, h2 a:visited,
h3 a, h3 a:link, h3 a:visited,
h4 a, h4 a:link, h4 a:visited,
h5 a, h5 a:link, h5 a:visited,
h6 a, h6 a:link, h6 a:visited {
  color: #00578a;
  text-decoration: none;
}
.views-field-title a {
  font-size: 15px;
}
.region-content .view-op-recent-content .views-field-title a,
.region-content .view-op-recent-content .views-field-title a:link,
.region-content .view-op-recent-content .views-field-title a:visited {
  color: #00578a;
  border-bottom: none;
  text-decoration: none;
  font-size: 30px;
  font-family: Georgia, serif;
  /*font-variant: small-caps;*/
  font-weight: normal;
  letter-spacing: normal;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #787878;
}

.region-content .view-op-recent-content .views-field-title a:hover {
  color: #787878;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

/* Make site titles the same size if it's an H1 (home) or H2 (internal) */
h1.site-name,
h2.site-name {
  font-size: 40px;
  margin-bottom: 0;
}

/* Make it a bit smaller for block headers */
h2.block-title {
  font-size: 24px;
  margin: 0;
  margin-top: 15px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}
h6.site-slogan {
  margin-top: 0;
}
p, ul, ol {
  font-size: 14px;
}
ul ul, ol ol, ul ol, ol ul {
  font-size: 14px;
  margin-bottom: 0;
}
ul {
  list-style-type: square;
}
ol {
  list-style-type: decimal;
}
blockquote {
  font-style: italic;
  /*font-size: 0.9em;*/
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background: #EEEEEE;
  border: 1px solid #DDDDDD;
}

blockquote p:last-child {
  margin-bottom: 0;
}

ul.inline,
ul.links.inline {
  display: block;
  margin-bottom: 5px;
}

/* Responsive Images */
img {
  max-width: 100%;
  height: auto;
}
label {
  font-weight: bold;
  font-size: 14px;
}

ul, ul.menu, ol {
  margin-left: 14px;
}

p, dl, hr, ol, ul, pre, table, address, fieldset {
  margin-bottom: 14px;
}

/* Main Nav */
.navigation {
  margin-top: 14px;
}
ul.main-menu,
ul.secondary-menu {
  font-size: 14px;
  margin-left: 0;
  font-variant: small-caps;
}
ul.main-menu {
  font-size: 14px;
}

ul.main-menu li,
ul.secondary-menu li {
  margin: 0;
  padding: 10px 10px;
  border-right: 1px dotted #CCC;
}
ul.main-menu li.first,
ul.secondary-menu li.first {
  padding-left: 0;
}
ul.main-menu li.last,
ul.secondary-menu li.last {
  border-right: 0;
}
/* Node Specifics */

h2.node-title {
  margin: 0;
}

.node-teaser {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #CCC;
}

.node-links ul {
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-transform: uppercase;
}
.node-links ul li {
  margin: 00;
  padding: 10px;
  border-right: 1px dotted #CCC;
}
.node-links ul li.first {
  padding-left: 0;
}
.node-links ul li.last {
  border-right: 0;
}
.node-links a {
  border-bottom: 0;
}
.user-picture {
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.submitted {
  line-height: 24px;
  margin-bottom: 10px;
  font-size: 11px;
}

ul.primary {
  border-bottom: 0;
  line-height: normal;
  list-style: none outside none;
  margin: 5px;
  padding: 0;
  white-space: nowrap;
  display: block;
}
ul.primary li {
  display: block;
  float: left;
}
ul.primary li a {
  background-color: #DDDDDD;
  border-color: #BBBBBB;
  border-style: solid;
  border-width: 1px;
  height: auto;
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
  display: block;
}
ul.primary li a,
ul.primary li.active a,
ul.primary li a:hover {
  border: 1px solid #BBBBBB;
}
ul.primary li a:hover {
  background: #EEEEEE;
}
/* Forms */
input.form-text,
input[type="text"],
input[type="password"] {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 30px;
  line-height: 14px;
  padding: 4px 2px;
  text-indent: 5px;
  font-size: 14px;
  margin: 0;
  border: 1px solid #DDDDDD;
}
input.form-submit,
input[type="submit"] {
  padding: 4px 4px;
  font-size: 14px;
  background-color: #DDDDDD;
  border-color: #BBBBBB;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  color: #787878;
}

input.form-submit:hover,
input[type="submit"]:hover {
  background: #EEEEEE;
}
/* Login & Registration Defaults */
.block-login .item-list ul {
  text-align: center;
  display: block;

}
.block-login .item-list li {
  margin-left: 0;
  display: inline;
  padding: 0 5px;
  border-right: 1px dotted #CCC;
}
.block-login .item-list ul.openid-links {
  margin-bottom: 0;
}
.block-login .item-list ul.openid-links li {
  border-right: 0;
}
.block-login .item-list a {
  font-size: 10px;
}
.block-login .item-list li.last,
.block-login .item-list li:last-child {
  border-right: 0;
}

/* search form(s) and results */
.zone-branding .block-search-form {
  margin-top: 20px;
}
.block-search input.form-text,
.search-form #edit-keys {
  background: url('../i/search.png') no-repeat center right;
}
.block-search div.form-actions,
.search-form #edit-submit {
  display: none;
}
.search-results {
  margin-left: 0;
}
.search-results .title {
  font-size: 14px;
}
.search-snippet-info {
  padding: 20px;
  font-size: 11px;
  margin-left: 10px;
  background: #EEEEEE;
  border: 1px solid #DDDDDD;
}
.search-snippet-info p.search-info {
  margin-bottom: 0;
}
.search-snippet {
  font-size: 12px;
}

/* Node Styles */
.node .field {
  margin: 10px 0 10px 0;
}
.node .field-label {
  margin: 0;
  font-family: Georgia, serif;
  /*font-variant: small-caps;*/
  font-weight: normal;
  letter-spacing: normal;
  font-size: 20px;
  line-height: 12px;
}
.node .field .field-items {
  margin-bottom: 0;
}

.node .field-type-node-reference .field-items,
.node .field-type-taxonomy-term-reference .field-items,
.node .field-type-node-reference .field-items {
  font-size: 15px;
}

.node .field-name-field-op-main-image {
  display: block;
  float: none;
  clear: none;
  margin-right: 20px;
}

.node .field-name-field-op-caption {
  font-size: 12px;
  margin: 0 0 30px;
}

#edit-actions input {
  margin-right: 5px;
}
/* Comments */
#comments article {
  padding: 20px;
  background: #fdfdfd;
  border: 1px dashed #DDDDDD;
  margin-bottom: 30px;
  margin-top: 10px;
}
#comments article header h3 {
  margin-top: 0;
}
#comments article.comment-unpublished {
  background: #fdebeb;
  border: 1px dashed #FF0000;
}
#comments article.comment-unpublished header h3 {
  margin-top: 20px;
}
#comments header {
  position: relative;
}
#comments header .new {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  color: #FF0000;
}
#comments header .unpublished {
  position: absolute;
  top: -20px;
  left: auto;
  font-family: Georgia, serif;
  /* font-variant: small-caps; */
  font-weight: normal;
  letter-spacing: normal;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  width: 90px;
  right: -10px;
  background: #DA0000;
  text-align: center;
}
#comments .comment nav {
  text-align: right;
}
#comments .comment nav ul {
  margin: 0;
}

/* Gallery page */

.node-openpublish-photo-gallery {

}
.node-openpublish-photo-gallery .field-name-field-op-gallery-image:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.node-openpublish-photo-gallery .field-type-image .field-label,
.node-openpublish-photo-gallery .field-name-field-op-gallery-image .field-label {
  display: none;
}
.node-openpublish-photo-gallery .field-collection-view {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}
.node-openpublish-photo-gallery .field-name-field-op-gallery-image > .field-items > .field-item {
  float: left;
  width: 32%;
  margin-right: 2%;
}
.node-openpublish-photo-gallery .field-name-field-op-gallery-image > .field-items > .field-item.row-end {
  margin-right: 0;
}

.node-openpublish-photo-gallery .field-item p:last-child {
  margin-bottom: 0;
}

.node-openpublish-photo-gallery  ul.field-collection-view-links,
.node-openpublish-photo-gallery  ul.action-links {
  font-size: 14px;
}
.node-openpublish-photo-gallery .field-collection-container .field-collection-description {
  display:none;
}

/* Video Page */
.node-openpublish-video {

}

.node-openpublish-video .field-type-image .field-label,
.node-openpublish-video .field-type-video-embed-field .field-label,
.node-openpublish-video .field-name-field-op-video-embed-code .field-label {
  display: none;
}

/* Commented out a few items to remove a gap between the body and the iframe */
.node-openpublish-video .field-name-field-op-video-embed .field-items,
.node-openpublish-video .field-name-field-op-video-embed-code .field-items {
  max-width: 100%;
}
.node-openpublish-video .field-name-field-op-video-embed .field-items .field-item,
.node-openpublish-video .field-name-field-op-video-embed-code .field-items .field-item {
/*  height: 0; */
  overflow: hidden;
/*  padding-bottom: 56.25%; */
  padding-top: 10px;
  position: relative;
}

.node-openpublish-video .field-name-field-op-video-embed .field-items .field-item iframe,
.node-openpublish-video .field-name-field-op-video-embed-code .field-items .field-item iframe {
  max-height: 100%;
  left: 0;
  /* position: absolute; */
  top: 0;
  max-width: 100%;
}

/* Teaser Styles */

.node-teaser .field {
  margin-top: 5px;
  margin-bottom:  5px;
}

.node-teaser .field-name-field-op-video-embed {
  display: block;
  float: left;
  clear: none;
  margin-right: 20px;
  margin-top: 0px;
}

.node-teaser .field-name-field-op-video-embed .field-items .field-item {
  padding-top: 5px;
}

.node-teaser h2.node-title {
  font-size: 20px;
  line-height: 26px;
}

.node-teaser .submitted {
  line-height: 14px;
  margin-bottom: 0px;
}

#block-search-form {
  float: left;
  min-width: 360px;
  margin: 0;
}

.block-search input.form-text {
  height:32px;
  font-size: 14px;
}

#block-system-user-menu h2.block-title{
  display: none;
}

#block-system-user-menu ul.menu li {
  display: block;
  float: right;
}

#block-menu-menu-utility-nav .block-title {
  display: none;
}

#block-menu-menu-utility-nav ul.menu li.leaf {
  list-style: none;
  display: inline;
  float: right;
}

.view-id-op_recent_content.view-display-id-block_recent_galleries_section .views-row,
.view-id-op_recent_content.view-display-id-block_more_galleries .views-row {
  float: left;
  width: 30%;
  margin-right: 3%;
}

.region-content .view-id-op_recent_content.view-display-id-block_recent_galleries_section .views-field-title,
.region-content .view-id-op_recent_content.view-display-id-block_more_galleries .views-field-title {
  line-height: normal;
  border-bottom: 1px solid #888;
  margin-bottom: 5px;
  padding-bottom: 5px;
  width: 80%;
}

.region-content .view-id-op_recent_content.view-display-id-block_recent_galleries_section .views-field-title a,
.region-content .view-id-op_recent_content.view-display-id-block_more_galleries .views-field-title a {
  font-size: 20px;
}

.block-menu-footer-links h2.block-title {
  display: none;
}

.block-menu-footer-links li {
  float: left;
  display: block;
}

.view-id-op_recent_content.view-display-id-block_3 .views-field-field-op-video-embed img,
.view-id-op_recent_content.view-display-id-block_4 .views-field-field-op-video-embed img {
  border: 4px solid #BBB;
}

.view-id-op_recent_content.view-display-id-block_3 .views-row,
 .view-id-op_recent_content.view-display-id-block_4 .views-row {
  padding: 17px;
  border-bottom: 1px dashed #888;
}

.region-sidebar-first h2.block-title,
.region-sidebar-second h2.block-title {
  border-bottom: 1px solid #888;
}

.view-id-op_most_popular .views-row {
  margin-bottom: 10px;
}

.view-id-op_most_popular .views-field-title a {
  font-size: 12px;
}

.view-id-op_recent_content.view-display-id-block_7 .views-field-field-op-main-image {
  float: left;
  margin-right: 10px;
  border: 4px solid #BBB;
}

.front .block-delta-blocks-page-title {
  display: none;
}

.node-type-section-front .region-content h1#page-title {
  display: none;
}

.region-content .view-id-op_recent_content.view-display-id-block_recent_articles .views-field-title a,
.region-content .view-id-op_recent_content.view-display-id-block_recent_articles .views-field-title a:link,
.region-content .view-id-op_recent_content.view-display-id-block_recent_articles .views-field-title a:visited,
.region-content .view-id-op_recent_content.view-display-id-block_recent_articles_taxonomy .views-field-title a,
.region-content .view-id-op_recent_content.view-display-id-block_recent_articles_taxonomy .views-field-title a:link,
.region-content .view-id-op_recent_content.view-display-id-block_recent_articles_taxonomy .views-field-title a:visited,
.view-id-op_recent_content.view-display-id-block_5 .views-field-title a,
.view-id-op_recent_content.view-display-id-block_5 .views-field-title a:link,
.view-id-op_recent_content.view-display-id-block_5 .views-field-title a:visited {
  font-size: 20px;
}

.region-content .view-id-op_recent_content.view-display-id-block_recent_articles .views-field-title a:hover,
.region-content .view-id-op_recent_content.view-display-id-block_recent_articles_taxonomy .views-field-title a:hover,
.view-id-op_recent_content.view-display-id-block_5 .views-field-title a:hover {
  text-decoration: underline;
  color: #00578A;
}

.region-header-second-inner {
  margin-bottom: 15px;
}

#zone-user-wrapper {
  padding-top: 10px;
}

#zone-footer-wrapper {
  background: #F6F6F6;
  padding-top:15px;
  margin-top: 30px;
}

#zone-branding-wrapper {
  padding-bottom: 10px;
}

#zone-menu-wrapper {
  margin-bottom: 15px;
}

.node-openpublish-photo-gallery .field-name-field-op-main-image {
  width: 620px;
}

.node-openpublish-photo-gallery .field-name-field-op-gallery-image-image img {
  height: 200px;
}

.view-id-openpublish_related_content.view-display-id-block_1 .views-field-field-profile-photo {
  float: left;
  margin-right: 10px;
}

.node .field-name-field-op-caption p {
  color: #AAA;
  font-size: 12px;
}

.view-display-id-block_recent_articles .views-row-odd,
.view-display-id-block_5 .views-row-odd {
  float: left;
  width: 48%;
  clear: left;
  margin-right: 10px;
  padding-bottom: 20px;
}

.view-display-id-block_recent_articles .views-row-even,
.view-display-id-block_5 .views-row-even {
  float: right;
  width: 48%;
  clear: right;
  margin-left: 10px;
  padding-bottom: 20px;
}