/**
 * Generic elements.
 *//* Remove the webkit outline */
* {
  outline-style: none !important;
}

/* Import the Open Sans webfont from Google CDN */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/uYKcPVoh6c5R0NpdEY5A-Q.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNShsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

body {
  color: #000;
  background: #fff;
  font:normal 13px/1.538em Open Sans, "Segoe UI", "Helvetica", sans-serif;
}

a {
  color:#0074BD;
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #cccccc;
}

legend {
  font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-weight: 300;
  margin: 10px 0;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5,h6 {
  font-size: 14px;
}

p {
  margin: 1em 0;
}

dl {
  margin: 0 0 20px;
}

dl dd,dl dl {
  background: url("../images/small-bullet.png") no-repeat scroll 0 6px transparent;
  color: #444444;
  margin-bottom: 10px;
  margin-left: 5px;
  text-indent: 10px;
  line-height: 18px;
}

blockquote {
  margin: 1em 40px;
}

address {
  font-style: italic;
}

u,ins {
  text-decoration: underline;
}

s,strike,del {
  text-decoration: line-through;
}

big {
  font-size: larger;
}

small {
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}

sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

nobr {
  white-space: nowrap;
}

abbr,acronym {
  border-bottom: dotted 1px;
}

ul,.block ul,.item-list ul {
  list-style-type: square;
  list-style-image: none;
  margin: 0.25em 0 0.25em 1.5em;/* LTR */
}

.item-list .pager li {
  padding: 0.5em;
}

.item-list ul li,li.leaf,ul.menu li {
  list-style-type: disc;
  list-style-image: none;
}

ul.menu li {
  margin: 0;
}

ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 2em;/* LTR */
}

.item-list ul li.collapsed,ul.menu li.collapsed {
  list-style-image: url(/misc/menu-collapsed.png);
  list-style-type: disc;
}

.item-list ul li.expanded,ul.menu li.expanded {
  list-style-image: url(/misc/menu-expanded.png);
  list-style-type: circle;
}

quote,code {
  margin: 0.5em 0;
}

code,pre,kbd {
  font-size: 1.231em;
}

pre {
  margin: 0.5em 0;
  white-space: pre-wrap;
}

strong {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
}

/**
 * Skip link.
 */
#skip-link {
  margin-top: 0;
  position: absolute;
  left: 50%;/* LTR */
  margin-left: -5.25em;/* LTR */
  width: auto;
  z-index: 50;
}

#skip-link a,#skip-link a:link,#skip-link a:visited {
  display: block;
  background: #444;
  color: #fff;
  font-size: 0.94em;
  padding: 1px 10px 2px 10px;/* LTR */
  text-decoration: none;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
}

#skip-link a:hover,#skip-link a:focus,#skip-link a:active {
  outline: 0;
}

/**
 * Branding.
 */
#branding {
  overflow: hidden;
  padding: 10px 20px 0 20px;/* LTR */
  position: relative;
  background-color: #333;
}

#branding div.breadcrumb {
  font-size: 14px;
  padding-bottom: 5px;
  color: #888888;
}

#branding div.block {
  position: relative;
  float: right;/* LTR */
  width: 240px;
  padding-left: 10px;/* LTR */
  background: #333;
}

#branding div.block form label {
  display: none;
}

#branding div.block form div.form-item {
  float: left;/* LTR */
  border: 0;
  margin: 0;
  padding: 0;
}

#branding div.block form input.form-text {
  width: 140px;
  margin-right: 10px;/* LTR */
}

#branding div.block form input.form-submit {
  text-align: center;
  width: 80px;
}

/**
 * Help.
 */
#help {
  font-size: 0.923em;
  margin-top: 1em;
}

#help p {
  margin: 0 0 10px;
}

#help div.more-help-link {
  text-align: right;/* LTR */
}

/**
 * Page title.
 */
#page-title {
  background: #333;
  padding-top: 20px;
}

#branding h1.page-title {
  color: #FFFFFF;
  float: left;
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 38px;
  margin: 0;
  padding: 0 0 12px;
}

/**
 * Console.
 */
#console {
  margin: 9px 0 10px;
}

/**
 * Tabs.
 */
ul.primary {
  border-bottom: medium none;
  float: right;
  font-size: 0.923em;
  height: 2.6em;
  margin: 12px 0 0;
  padding-top: 0;
  text-transform: uppercase;
}

ul.primary li {
  float: left;/* LTR */
  list-style: none;
  margin: 0 2px;
}

ul.primary li a:link,ul.primary li a.active,ul.primary li a:active,ul.primary li a:visited,ul.primary li a:hover,ul.primary li.active a {
  display: block;
  float: left;/* LTR */
  line-height: 18px;
  background-color: #a6a7a2;
  color: #000;
  font-weight: normal;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #a6a7a2;
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 10px 20px;
  text-transform: none;
}

ul.primary li.active a,ul.primary li.active a.active,ul.primary li.active a:active,ul.primary li.active a:visited {
  background-color: #fff;
  border: none;
  border-top: 5px solid #0074BD;
  margin-top: -4px;
}

ul.primary li a:hover {
  color: #fff;
}

ul.primary li.active a:hover {
  color: #000;
}

.tabs-secondary {
  clear: both;
}

ul.secondary {
  font-size: 0.923em;
  padding: 0 3px 5px;
  line-height: 1.385em;
  overflow: hidden;
  background-color: #fff;
  text-align: right;
  width: 100%;
}

ul.secondary li {
  margin: 0 5px;
  float: none;/* LTR */
}

ul.secondary li a {
  background-color: #ddd;
  color: #000;
  display: inline-block;
}

ul.secondary li a,ul.secondary li a:hover,ul.secondary li.active a,ul.secondary li.active a.active {
  padding: 2px 10px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

ul.secondary li a:hover,ul.secondary li.active a,ul.secondary li.active a.active {
  color: #fff;
  background: #666;
}

div.vertical-tabs ul li.vertical-tab-button a {
  border-right: 1px solid #CCCCCC;
  background: #F9F9F9;
}

div.vertical-tabs ul li.vertical-tab-button a:hover,div.vertical-tabs ul li.vertical-tab-button a:focus {
  background: #efefef;
  outline: 0 none;
  text-decoration: none;
}

div.vertical-tabs ul li.vertical-tab-button .selected a {
  border-right: none;
  background: #fff;
}

div.vertical-tabs ul li.selected a,div.vertical-tabs ul li.selected a:hover,div.vertical-tabs ul li.selected a:focus,div.vertical-tabs ul li.selected a:active {
  border-left: 5px solid #0074BD;
  background: none repeat scroll 0 0 #FFFFFF;
  border-right: 0 none;
  margin-left: -1px;
}

div.vertical-tabs ul li.selected a:focus strong {
  text-decoration: none;
}

#content {
  clear: left;
}

/**
 * Page layout.
 */
#page {
  padding: 20px 0 40px 0;/* LTR */
  margin-right: 40px;/* LTR */
  margin-left: 40px;/* LTR */
  background: #fff;
  position: relative;
  color: #333;
}

#secondary-links ul.links li {
  padding: 0 10px 10px 0;/* LTR */
}

#secondary-links ul.links li a {
  font-size: 0.923em;
  background: #777;
  color: #fff;
  text-align: center;
  padding: 5px;
  height: 55px;
  width: 80px;
  overflow: hidden;
}

#secondary-links ul.links li a:hover {
  background: #999;
}

ul.links li,ul.inline li {
  padding-right: 1em;/* LTR */
}

ul.inline li {
  display: inline;
}

#secondary-links ul.links li.active-trail a,#secondary-links ul.links li a.active {
  background: #333;
}

ul.admin-list li {
  position: relative;
  padding-left: 30px;/* LTR */
  padding-top: 9px;
  margin-left: 0;/* LTR */
  margin-bottom: 10px;
  background: url(../images/list-item.png) no-repeat 0 11px;/* LTR */
  list-style-type: none;
  list-style-image: none;
}

.admin-panel .item-list ul,ul.admin-list {
  margin: 0;
  padding: 0;
}

.admin-panel .item-list ul,ul.admin-list .compact {
  margin: 8px 0;
}

.admin-panel .item-list li,ul.admin-list .compact li {
  border: none;
  background: none;
  margin: 0 0 0.75em;
  line-height: 1;
  padding: 0;
}

ul.admin-list li:last-child {
  border-bottom: none;
}

ul.admin-list li a {
  margin-left: -30px;/* LTR */
  padding: 0 0 4px 30px;/* LTR */
  min-height: 0;
}

ul.admin-list .compact li a {
  margin-left: 0;/* LTR */
  padding: 0;
}

ul.admin-list li div.description a {
  margin-left: 0;/* LTR */
  padding: 0;
  min-height: inherit;
}

div.submitted {
  color: #898989;
}

.progress {
  font-weight: normal;
}

/**
 * Tables.
 */
table {
  width: 100%;
  margin: 0 0 10px;
}

table td,table th {
  vertical-align: middle;
  padding: 8px 10px;
  border: 0;
  color: #000;
}

tr.even,tr.odd {
  border-style: solid;
  border-color: #ddd;
  background: #f3f4ee;
}

tr.odd {
  background: #fff;
}

tr.drag {
  background: #fe7;
}

tr.drag-previous {
  background: #ffb;
}

table th {
  background: none repeat scroll 0 0 #E1E2DC;
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
}

table th.active {
  background: #0074BD;
  color: #fff;
}

table th a {
  display: block;
}

table th.active a {
  padding: 0 25px 0 0;/* LTR */
  color: #fff;
}

table th.active img {
  float: right;
  position: relative;
  right: -20px;
  top: 3px;/* LTR */
}

table td.active {
  background: transparent;
}

table tr.odd td.active {
  background: transparent;
}

table tr.selected td.active,table tr.selected td {
  background: #ffc;
  border-color: #eeb;
}

table.system-status-report tr {
  border-bottom: 1px solid #ccc;
  border-color: rgba(0,0,0,0.1);
}

table.system-status-report tr.ok {
  color: #255b1e;
  background-color: #e5ffe2;
}

table.system-status-report tr.info {
  color: #040f37;
  background-color: #bdf;
}

table.system-status-report tr.warning {
  color: #840;
  background-color: #fffbe2;
}

table.system-status-report tr.error {
  color: #fff;
  background-color: #e26969;
}

tr.error a {
  color: #FFF7BB;	
}

table.system-status-report tr.error td {
  color: #fff;
}

/* Fieldsets */
fieldset {
  border: solid 1px #ddd;
  border-top: 3px solid #0074BD;
  padding: 12px;
  margin: 18px 0;
}

fieldset legend {
  background: white;
  padding: 0 3px;
  margin: 0;
  margin-left: -3px;
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

/**
 * Form elements.
 */
.form-item {
  padding: 0 1em 0 0;
  margin: 0 0 10px;
}

.filter-wrapper .form-item,div.teaser-checkbox .form-item,.form-item .form-item {
  padding: 5px 0;
  margin: 0;
  border: 0;
}

.form-type-checkbox {
  padding: 0;
}

.text-format-wrapper .form-item {
  padding-bottom: 0;
}

.form-item label, .exposed-filters .form-item label {
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  margin-right: 1em;
  padding: 0.5em 0;
  width: initial;
}

.form-item label.option {
  font-size: 16px;
  text-transform: none;
}

.form-item label.option input {
  vertical-align: middle;
}

.form-disabled input.form-autocomplete,.form-disabled input.form-text,.form-disabled input.form-file,.form-disabled textarea.form-textarea,.form-disabled select.form-select {
  background-color: #eee;
  color: #777;
}

.form-managed-file .form-file,.form-managed-file .form-submit {
  margin-right: 1em;
}

input.empty {
  color: #ccc !important;
}

/* Filter */
.filter-wrapper {
  border-top: 0;
  padding: 10px 2px;
}

.filter-wrapper .fieldset-wrapper {
  padding: 0 6px;
}

.filter-wrapper .form-item,.filter-wrapper .filter-guidelines,.filter-wrapper .filter-help {
  font-size: 0.923em;
  padding: 2px 0 0 0;/* LTR */
}

.exposed-filters .filters {
  width: inherit;
  display: inline-block;
}

.exposed-filters .form-item {
  display: inline-block;
  margin-right: 1em;
}

ul.tips,div.description,.form-item div.description {
  margin: 5px 0;
  line-height: 1.231em;
  font-size: 0.923em;
  color: #666;
}

ul.tips li {
  margin: 0.25em 0 0.25em 1.5em;/* LTR */
}

body div.form-type-radio div.description,body div.form-type-checkbox div.description {
  margin-left: 1.5em;/* LTR */
}

a.button:link,a.button:visited,a.button:hover,a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}

input.form-button-disabled,input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  text-shadow: none;
  color: #999;
}

input.form-autocomplete,input.form-text,input.form-file,textarea.form-textarea,select.form-select {
  padding: 5px 7px;
  border: 1px solid #ddd;
  background: #fff;
  color: #333;
}

#module-filter-modules {
  min-height: 0 !important;
}

input#edit-module-filter-name {
  background: transparent;
  border:none;
  border-bottom: 3px solid #DDDDDD;
  color: #333333;
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 32px;
  line-height: 38px;
  font-weight: 100;
  text-align: center;
  width: 100%;
}

body.page-admin-modules input#edit-module-filter-name {
  padding: 5px 9px;
  margin-left: -9px;
}

input#edit-module-filter-name:active, input#edit-module-filter-name:focus {
  border-bottom: 3px solid #2196d6;
}

label[for=edit-module-filter-name], label[for=edit-module-filter-name] {
  display: none !important;
}

.module-filter-clear {
  display: block;
  float: right;
  position: relative;
  right: 30px;
  top: 12px;
  top: -47px;
}

body.page-admin-modules .module-filter-clear {
  top: -47px;
}

.module-filter-clear a {
    background: url(../images/x.svg) scroll no-repeat 0 0;
    display: block;
    font-size: 0;
    height: 29px;
    margin-left: 0;
    width: 29px;
}

.module-filter-clear a:hover {
    background: url(../images/x-hover.svg) scroll no-repeat 0 0;
}

html.js .toggle-enable {
  border-radius: 0 !important;
  box-shadow: none !important;
  background-image: -moz-linear-gradient(left center , #555 50%, #0074BD 50%, #0074BD 100%);
}

html.js .toggle-enable.enabled {
  background-image: -moz-linear-gradient(left center , #0074BD 50%, #008000 50%, #008000 100%);
}

html.js .toggle-enable.enabled.disabled {
    background-image: -moz-linear-gradient(left center , #0074BD 50%, #EF6114 50%, #EF6114 100%);
}

html.js .toggle-enable.enabled.disabled div:after {
  content: "\26A1";
  font-size: 18px;
}

html.js .toggle-enable.disabled div {
    background: #DDDDDD;
}

html.js .toggle-enable div {
  border-radius: 0 !important;	
  background: #fff;
}

html.js .toggle-enable div:before {
    content: "\2717";
}

html.js .toggle-enable div:after {
    content: "\2713";
}

html.js .toggle-enable div:after, html.js .toggle-enable div:before {
    font-size: 13px;
}

input.form-text:focus,input.form-file:focus,textarea.form-textarea:focus,select.form-select:focus {
  color: #000;
  border-color: #0074BD;
}

html.js input.form-autocomplete {
  background-position: 100% 7px;
}

html.js input.throbbing {
  background-position: 100% -13px;
}

ul.action-links {
  margin: 1em 0;
  list-style-type: none;
  overflow: hidden;
}

ul.action-links li {
  float: left;/* LTR */
  margin: 0 1em 0 0;/* LTR */
}

ul.action-links a {
  padding-left: 15px;/* LTR */
  font: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 23px;
  font-weight: 300;
  background: transparent url(../images/add.png) no-repeat 0 center;
  line-height: 30px;
}

/* Exceptions */
#diff-inline-form select,div.filter-options select {
  padding: 0;
}

/**
 * System.
 */
div.admin .right,div.admin .left {
  width: 49%;
  margin: 0;
}

div.admin-panel,div.admin-panel .body {
  padding: 0;
  clear: left;
}

div.admin-panel {
  margin: 0 0 20px;
  padding: 9px;
  background: #f8f8f8;
  border: 1px solid #ccc;
}

div.admin-panel h3 {
  font: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 23px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 9px;
  text-transform: none;
}

/* admin/appearance */
#system-themes-page h2 {
  font-weight: normal;
  text-transform: uppercase;
}

.theme-selector{
  padding-bottom: 40px;
}

.theme-selector .theme-description{
  overflow: hidden;
}

.theme-selector h3 {
  font-weight: normal;
}

.theme-default h3 {
  font-weight: bold;
}

.system-themes-list-enabled .theme-selector h3 {
  margin-top: 0;
}

/* Update options. */
div.admin-options {
  background: #f8f8f8;
  line-height: 30px;
  height: 30px;
  padding: 9px;
  border: 1px solid #ccc;
  margin: 0 0 10px;
}

div.admin-options label {
  text-transform: uppercase;
  font: 0.846em/1.875em Lucida Grande,Lucida Sans Unicode,sans-serif;
}

div.admin-options label,div.admin-options div.form-item {
  margin-right: 10px;/* LTR */
  float: left;/* LTR */
}

div.admin-options div.form-item {
  padding: 0;
  border: 0;
}

/* Update status */
.versions table.version {
  border: none;
}

/* Maintenance theming */
body.in-maintenance #sidebar-first {
  float: left;/* LTR */
  width: 200px;
}

body.in-maintenance #content {
  float: right;/* LTR */
  width: 550px;
  padding-right: 20px;/* LTR */
  clear: none;
}

body.in-maintenance #page {
  overflow: auto;
  width: 770px;
  margin: 0 auto;
  padding-top: 2em;
}

body.in-maintenance #branding h1 {
  width: 770px;
  margin: 0 auto;
  float: none;
}

body.in-maintenance .form-radios .form-type-radio {
  padding: 2px 0;
}

body.in-maintenance div.form-item:after {
  content: "";
  display: none;
  clear: none;
}

body.in-maintenance .form-submit {
  display: block;
}

body.in-maintenance #logo {
  margin-bottom: 1.5em;
  max-width: 180px;
}

ol.task-list {
  margin-left: 0;/* LTR */
  list-style-type: none;
  list-style-image: none;
}

ol.task-list li {
  padding: 0.5em 1em 0.5em 20px;/* LTR */
  color: #adadad;
}

ol.task-list li.active {
  background: transparent url(images/task-item.png) no-repeat 3px 50%;/* LTR */
  padding: 0.5em 1em 0.5em 20px;/* LTR */
  color: #000;
}

ol.task-list li.done {
  background: transparent url(images/task-check.png) no-repeat 0 50%;
  color: green;
}

div.breadcrumb a {
  color: #999;
}

div.breadcrumb a:hover {
  color: #fff;
  text-decoration: none;
}

/* Overlay theming */
.overlay #branding {
  background-color: #fff;
  padding-top: 15px;
}

.overlay #branding h1.page-title,.overlay #left,.overlay #footer {
  display: none;
}

.overlay #page {
  margin: 0;
  padding: 0 20px;
}

.overlay #branding div.breadcrumb {
  float: left;/* LTR */
  position: relative;
  z-index: 10;
}

#overlay-tabs {
  bottom: -1px;
  font-size: 1.54em;
  line-height: 1.54em;
  margin: 0;
}

#overlay-tabs li {
  margin: 0 -3px;
}

.overlay ul.secondary {
  background: transparent none;
  margin: -1.4em 0 0.3em 0;/* LTR */
  overflow: visible;
  text-align: right;
  float: left;
  width: 100%;
}

.overlay #content {
  padding: 0;
}

#overlay-titlebar {
  padding: 0;
}

h1#overlay-title {
  font: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin: 0;
  padding: 0 0 5px;
  line-height: 44px;
}

#overlay-titlebar .add-or-remove-shortcuts {
  padding-top: 1.5em;
}

#overlay-close, #overlay-close:hover {
  background-color: #fff;
}

.overlay div.breadcrumb a:hover {
  color: #0074bd;
}

#overlay-container, .overlay-modal-background, .overlay-element, #overlay {
  padding-top: 29px;
}

#overlay-tabs li a, #overlay-tabs li a:active, #overlay-tabs li a:visited, #overlay-tabs li a:hover {
  background-color: #ddd;
  border-radius: 0 0 0 0;
  color: #000000;
  display: inline-block;
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 2px;
  outline: 0 none;
  padding: 4px 15px;
  text-decoration: none;
  text-transform: none;
}

#overlay-tabs li a:hover {
  background: none repeat scroll 0 0 #0074BD;
  color: #FFFFFF;
}

#overlay-tabs li.active a, #overlay-tabs li.active a.active, #overlay-tabs li.active a:active, #overlay-tabs li.active a:visited, #overlay-tabs li.active a:hover {
  background-color: #FFFFFF;
  margin: 0;
  padding-bottom: 4px;
}

#overlay-tabs {
  bottom: -2px;
  font-size: 1.54em;
  line-height: 1.54em;
  margin: 0;
  right: 0px;
}

/* Shortcut theming */
div.add-or-remove-shortcuts {
  float: left;
  padding-left: 6px;
  padding-top: 17px;
}

/* Dashboard */
#dashboard.dashboard-region div.block h2 {
  background: #E0E0D8;
}

#dashboard div.block h2 {
  margin: 0;
  font-size: 1em;
  padding: 3px 10px;
}

#dashboard div.block div.content {
  padding: 10px 5px 5px 5px;/* LTR */
}

#dashboard div.block div.content ul.menu {
  margin-left: 20px;/* LTR */
}

#dashboard.dashboard-region .block {
  border: #ccc 1px solid;
}

/* Field UI */
#field-display-overview input.field-formatter-settings-edit {
  margin: 0;
  padding: 1px 8px;
}

#field-display-overview tr.field-formatter-settings-changed {
  background: #FFFFBB;
}

#field-display-overview tr.drag {
  background: #FFEE77;
}

#field-display-overview tr.field-formatter-settings-editing {
  background: #D5E9F2;
}

#field-display-overview.field-formatter-settings-edit-form .form-item {
  margin: 10px 0;
}

#field-display-overview.field-formatter-settings-edit-form .form-submit {
  margin-bottom: 0;
}

form.field-multiple-table th.field-label {
  background: transparent;
}


form .field-multiple-table th.field-label {
  padding-left: 18px;
}

form.field-multiple-table tr.even {
  background: transparent;
}

/* Recent content block */
#dashboard div#block-node-recent div.content {
  padding: 0;
}

#block-node-recent table,#block-node-recent tr {
  border: none;
}

#block-node-recent.more-link {
  padding: 0 5px 5px 0;/* LTR */
}

/* User login block */
#user-login-form.openid-links {
  margin-left: 0;/* LTR */
}

#user-login-form.openid-links .user-link {
  margin-left: 1.5em;/* LTR */
}

/* Messages */
div.warning {
  background-position: 12px 8px;
  border: none;
  padding: 10px 10px 10px 45px;
}

/* Disable overlay message */
#overlay-disable-message {
  background-color: #addafc;
}

#overlay-disable-message a,#overlay-disable-message a:visited {
  color: #000;
}

#overlay-disable-message a:focus,#overlay-disable-message a:active {
  outline: none;
  text-decoration: underline;
}

.overlay-disable-message-focused a {
  padding: 0.4em 0.6em;
}

.overlay-disable-message-focused #overlay-dismiss-message {
  background-color: #59a0d8;
  color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

#ctools-export-ui-list-form.form-submit {
  float: left;
  margin-top: 36px;
}

a.imce-filefield-opener {
  margin: 5px 0;
}

div.autocomplete-deluxe-multiple {
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 0;
  width: auto;
  min-width: 500px;
}

.autocomplete-deluxe-item {
  background: none repeat scroll 0 0 #555555;
  border: 0 none;
  border-radius: 0 0 0 0;
  box-shadow: none;
  color: #FFFFFF;
  height: 12px;
  margin: 0;
  padding: 7px 20px 7px 10px;
}

.autocomplete-deluxe-item-delete {
  background: url("../images/ui-icons-ffffff-256x240.png") no-repeat scroll -100px -130px transparent;
  display: block;
  font-size: 1px;
  height: 13px;
  position: absolute;
  right: 2px;
  top: 7px;
  width: 12px;
}

ul.ui-autocomplete {
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: relative;
}

.ui-autocomplete .ui-menu-item a {
  display: block;
  line-height: 1.5;
  padding: 5px 10px;
  text-decoration: none;
}

body.adminimal-theme .ctools-dropbutton-processed {
  border-radius: 0;
  background: #FFFFFF;
}

body #page-manager-list-pages-form.form-item {
  margin-bottom: 20px;
}

body div.warning {
  background-image: url("../images/alert.png");
  background-position: 0 50%;
  background-color: #e5a200;
  color: #fff;
  border: none;
}

body div.warning a {
  color: #fffcb7;
}

body div.error {
  background-image: url("../images/error.png");
  border: none;
  background-position: 0 50%;
  background-color: #b73939;
  color: #fff;
}

body div.error a {
  color: #FFF7BB;
}

body div.status {
  background-image: url("../images/check.png");
  background-position: 0 50%;
  background-color: #4d8f46;
  color: #fff;
  border: none;
}

body div.status a {
  color: #e5ffb3;
}

#edit-pages-apply, #edit-pages-reset {
  float: left;
  margin-top: 40px;
}

body.adminimal-theme ul.secondary li a, body.adminimal-theme ul.secondary li a:hover, body.adminimal-theme ul.secondary li.active a, body.adminimal-theme ul.secondary li.active a.active {
  border-radius: 0;
  padding: 2px 10px;
  border: none;
}

body.adminimal-theme .views-ui-display-tab-bucket h3 {
  font-size: 20px;
  margin: 0;
  padding: 6px 6px 10px;
}

div.fieldset-description {
  padding-bottom: 0.5em;
}

/* Buttons */

/* Gray Button */
input.form-submit,
a.button,
div.exposed-filters input#edit-submit {
  cursor: pointer;
  background: #f0f0f0;
  border: none;
  padding: 6px 10px;
  margin-bottom: 1em;
  margin-right: 1em;/* LTR */
  color: #777777;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
}

input.form-submit:hover,
a.button:hover,
div.exposed-filters input#edit-submit:hover {
  background: #0074BD;
  color: #fff;
}

input.form-submit:active,
a.button:active,
div.exposed-filters input#edit-submit:active {
  box-shadow: 0 2px 2px rgba(0,0,0,0.3) inset;
}

/* Green Button */
input#edit-submit,
input#edit-actions-submit,
input[id^="save-continue"],
input[id^="edit-save"],
input#edit-save,
input#edit-actions-save {
  cursor: pointer;
  padding: 5px 10px;
  margin-bottom: 1em;
  margin-right: 1em;/* LTR */
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
  background: #4d8f46;
}

input#edit-submit:hover,
input#edit-actions-submit:hover,
input[id^="save-continue"]:hover,
input[id^="edit-save"]:hover,
input#edit-save:hover,
input#edit-actions-save:hover {
  background: #0a6700;
}

input#edit-submit:active,
input#edit-actions-submit:active,
input[id^="save-continue"]:active,
input[id^="edit-save"]:active,
input#edit-save:active,
input#edit-actions-save:active {
  box-shadow: 0 2px 2px rgba(0,0,0,0.75) inset;
  background: #333;
}

/* Red Button */
input#edit-delete,
input#remove-button,
input#edit-remove,
input#edit-clear,
.page-admin-modules-uninstall input#edit-submit {
  cursor: pointer;
  padding: 5px 10px;
  margin-bottom: 1em;
  margin-right: 1em;/* LTR */
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
  background: #b73939;
}

input#edit-delete:hover,
input#remove-button:hover,
input#edit-remove:hover,
input#edit-clear:hover,
body.page-admin-modules-uninstall input#edit-submit:hover {
    background: #990000;
}

input#edit-delete:active,
input#remove-button:active,
input#edit-remove:active,
input#edit-clear:active,
body.page-admin-modules-uninstall input#edit-submit:active {
  box-shadow: 0 2px 2px rgba(0,0,0,0.75) inset;
  background: #333;
}

/* Blue Button */
input#edit-preview,
input#edit-next,
input#preview-submit,
input[id^="edit-return"] {
  cursor: pointer;
  padding: 5px 10px;
  margin-bottom: 1em;
  margin-right: 1em;/* LTR */
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
  background: #0074BD;
}

input#edit-preview:hover,
input#edit-next:hover,
input#preview-submit:hover,
input[id^="edit-return"]:hover {
  background: #004c99;
}

input#edit-preview:active,
input#edit-next:active,
input#preview-submit:active,
input[id^="edit-return"]:active {
  box-shadow: 0 2px 2px rgba(0,0,0,0.75) inset;
  background: #333;
}

/* Orange Button */
#edit-cancel,
#edit-actions-cancel,
input#edit-buttons-revert {
  cursor: pointer;
  padding: 5px 10px;
  margin-bottom: 1em;
  margin-right: 1em;/* LTR */
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
  background: #f69231;
}

#edit-cancel:hover,
#edit-actions-cancel:hover,
input#edit-buttons-revert:hover {
  background: #ef6114;
}

#edit-cancel:active,
#edit-actions-cancel:active,
input#edit-buttons-revert:active {
  box-shadow: 0 2px 2px rgba(0,0,0,0.75) inset;
  background: #333;
}

/* Configuration menu blocks */
div.admin-panel {
  background: none repeat scroll 0 0 #F8F8F8;
  border: none;
  margin: 0 0 20px;
  padding: 10px;
}

/* Table hover style */
tr.even:hover,tr.odd:hover {
  background: #FFFFBF !important;
}

/* Tokens */
.token-tree {
  margin-left: 0 !important;
}

table.token-tree span.expander {
  margin-left: -5px !important;
}

/* Link Icons */
ul.links .inline li.edit {
  background: url("images/wrench-screwdriver.png") no-repeat scroll 0 2px transparent;
  padding-left: 18px;
  text-transform: capitalize;
}

ul.links .inline li.delete {
  background: url("images/minus-circle.png") no-repeat scroll 0 2px transparent;
  padding-left: 18px;
  text-transform: capitalize;
}

body.adminimal-theme .views-display-column > .ctools-collapsible-handle {
  border-color: #F3F3F3;
  border-style: solid;
  border-width: 1px 1px 0;
  font-size: 17px;
  font-weight: 300;
  margin: 0;
  padding: 6px 5px 6px 5px;
}

body.adminimal-theme .views-display-column > .ctools-toggle {
  margin-left: 10px;
  margin-right: 6px;
  margin-top: 14px;
}

body.adminimal-theme .views-display-column > .ctools-toggle.ctools-toggle-collapsed {
  margin-left: 12px;
  margin-right: 6px;
  margin-top: 11px;
}

body.adminimal-theme .views-ui-display-tab-bucket .ctools-button-processed {
  border-radius: 0;
}

body.adminimal-theme .views-admin .icon {
  height: 16px;
  margin-left: -6px;
  width: 16px;
}

#simplenews-admin-filter .spacer {
  float: left;
  margin-top: 10px;
  margin-left: 0;
}

body.adminimal-theme .token-tree th {
  padding-bottom: 10px;
  padding-top: 10px;
}

.overlay ul.secondary {
  background: none repeat scroll 0 0 transparent;
  float: left;
  margin: 0;
  overflow: visible;
}

.views-ui-display-tab-bucket .ctools-button-processed {
  border-radius: 4px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.ctools-dropbutton-processed {
  border-radius: 4px;
}

#views-ui-preview-form .arguments-preview, #views-ui-preview-form .form-type-textfield {
  margin-left: 14px;
  margin-top: 0px;
}

#preview-submit-wrapper {
  margin-top: 8px;
}

#views-ui-preview-form .form-type-checkbox {
  margin-left: 2px;
  margin-top: 8px;
}

#page-manager-list-pages td.page-manager-page-operations .ctools-dropbutton {
  right: auto;
}

.views-exposed-widget {
  float: left;
  padding-right: 20px;
}

.views-exposed-widget .views-submit-button {
  clear: both;
}

.views-exposed-form label {
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 23px;
  font-weight: 300;
  padding: 0.25em;
}

/* Views and Ctools */
.overlay ul.secondary{
  background: none repeat scroll 0 0 transparent;
  float: left;
  margin: 0;
  overflow: visible;
}

.views-ui-display-tab-bucket .ctools-button-processed{
  border-radius: 4px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.ctools-dropbutton-processed{
  border-radius: 4px;
}

#views-ui-preview-form.arguments-preview,#views-ui-preview-form.form-type-textfield{
  margin-left: 14px;
  margin-top: 0px;
}

#preview-submit-wrapper{
  margin-top: 8px;
}

#views-ui-preview-form.form-type-checkbox{
  margin-left: 2px;
  margin-top: 8px;
}

#page-manager-list-pages td.page-manager-page-operations .ctools-dropbutton{
  right: auto;
}

.views-exposed-widget{
  float: left;
  padding-right: 20px;
}

.views-exposed-widget .views-submit-button{
  clear: both;
}

.views-exposed-form label{
  padding-bottom: 10px;
}

.ui-widget table th {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

#ui-datepicker-div {
  border: 5px solid #333;
  background: white;
  padding: 0;
  margin: 0;
}

.ui-widget table thead th {
  background: #555;
  color: white;
}

/* Omega Fieldset fix */
body.page-admin-appearance fieldset {
  border: solid 1px #ddd !important;
  border-top: 3px solid #0074BD !important;
  padding: 12px !important;
  margin: 18px 0 !important;
}

body.page-admin-appearance fieldset legend {
  background: white !important;
  padding: 0 3px !important;
  margin: 0 !important;
  margin-left: -3px !important;
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif !important;
  font-size: 24px !important;
  font-weight: 300 !important;
}

body.page-admin-appearance fieldset fieldset {
  background-color: white !important;
}

.views-attachment .options-set label {
  font-weight: 300;
}

#views-ui-preview-form .form-type-textfield label {
  font-weight: 300;
}

.views-ui-dialog .ui-dialog-titlebar-close {
  border: medium none;
  border-radius: 0 0 0 0;
  box-shadow: none;
  right: 5px;
  top: 5px;
}

.views-ui-dialog .scroll {
  padding: 10px 20px;
}

.views-ui-dialog .form-buttons {
  background-color: #F3F4EE;
  padding: 15px;
}

.ui-widget-header {
  border: none;
}

.views-ui-dialog {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.views-filterable-options .form-type-checkbox input.form-checkbox{
  position: relative;
  top: 1px;
}

.views-filterable-options .form-type-checkbox {
  padding: 10px;
}

.views-filterable-options .form-type-checkbox:hover {
  background: #ffffbf;
}

input.form-checkbox, input.form-radio {
  vertical-align: baseline;
}

table.sticky-header {
  z-index: 999;
}

.ctools-content ul.actions {
  margin: 0;
  padding: 0;
}

.ctools-button-processed {
  border-color: #CCCCCC;
  background: none repeat scroll 0 0 #FFFFFF;
}

.ctools-button-processed:hover {
  border-color: #999999;
}

.ctools-no-js .ctools-content ul, .ctools-button-processed .ctools-content ul {
  margin: 0.25em;
}

div.form-item-view-args input#preview-args {
  margin-top: 0.6em;
}

.ctools-dropbutton ul.right.actions li input {
  color: #0074BD;
}

.views-ui-dialog .form-item-options-tokenize {
  margin-top: 10px;
}

#dblog-filter-form .form-actions {
  clear: both;
  float: left;
  padding: 0;
}

.container-inline .form-actions, .container-inline.form-actions {
  clear: none;
  display: inline-block;
  float: left;
  margin-bottom: 0;
  margin-top: 0;
}

div.admin-panel .description {
  margin: 0 0 3px;
  padding: 0 0 0.5em;
}

#permissions td.module {
  font-weight: bold;
  font-family: sans-serif;
}

body.page-node-add ul.admin-list li {
  background-position: 0 50%;
  padding-top: 0;
  margin-bottom: 20px;
}

body.page-node-add ul.admin-list li div.description {
  margin: 0;
}

#dashboard .canvas-content a.button:hover {
  color: #fff;
}

div.contextual-links-wrapper ul.contextual-links, a.contextual-links-trigger, div.contextual-links-active a.contextual-links-trigger {
  border-radius: 0;
}

body.page-admin-dashboard .container-inline .form-actions, body.page-admin-dashboard .container-inline.form-actions {
  margin-top: 0;
}

/* Margin fix for some pages in overlay mode */
body.page-admin-help.overlay #page,
body.page-admin-reports-updates-update #page,
body.page-admin-appearance.overlay #page {
  margin: 0;
  padding: 0 20px 20px;
}

.system-themes-list-disabled .theme-selector {
  float: left;
  opacity: 0.5;
  padding: 20px 20px 20px 0;
  width: 300px;
}

.system-themes-list-disabled .theme-selector:hover {
  opacity: 1;
}

#system-themes-page {
  padding-top: 20px;
}

#system-themes-page h2 {
  color: #555555;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.system-themes-list-enabled .theme-info h3 {
  font-size: 24px;
  font-weight: 400;
}

.system-themes-list-enabled .theme-default .theme-info h3 {
  font-size: 24px;
  font-weight: 400;
}

.system-themes-list-disabled {
  border-top: 5px solid #CDCDCD;
  padding-top: 20px;
}

#block-system-main {
  clear: both;
}

#palette .lock {
  float: right;
}

/* Media Module Styling */
div.field-type-media {
    padding-bottom: 1em;
}

div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.media-wrapper {
	padding: 0;
}

.media-browser-tab.ui-tabs-panel {
    border: none;
}

#media-browser-tabset ul.tabs.primary li {
    border: medium none;
}

#media-browser-tabset ul.tabs.primary li.ui-state-active {
    background: #FFFFFF;
}

#media-browser-tabset ul.tabs.primary li a:link {
    font-weight: 300;
    background: transparent;
    color: #111;
    border: none;
    font-size: 16px;
    line-height: 8px;
    margin: 0;
    padding: 10px 20px;
}

#media-browser-tabset ul.tabs.primary li a:hover {
  background: #0074BD;
  color: #fff;
}

#media-browser-tabset ul.tabs.primary li.ui-state-active a:hover {
  background: #fff;
  color: #111;
}

.progress .bar {
  background: none repeat scroll 0 0 #CCCCCC;
  border: none;
  border-radius: 0;
  margin: 0 0.2em;
}

.progress .filled, .progress .bar .filled {
  background: none repeat scroll 0 0 #0074BD !important;
}

.update tr.error, .update tr.error.even:hover, .update tr.error.odd:hover {
  background: none repeat scroll 0 0 #B73939 !important;
  color: #fff;
}

.update tr.error .version-recommended {
  background: none repeat scroll 0 0 #B73939;
}

.update .security-error {
  color: #FFFFFF;
  font-size: 23px;
  font-weight: bold;
}

.update table.version-security .version-title {
  color: #FFFFFF;
}

table.update tr.error td, table.update tr.error th {
  color: #fff;
}

.text-format-wrapper .form-item {
  padding-right: 0;
}

.form-textarea-wrapper textarea {
  resize:vertical;
}

div.krumo-root {
  border-color: #ddd;
}

div.krumo-wrapper ul {
  margin: 0;
}

div.krumo-wrapper li {
  list-style: none outside none;
}



a.views-display-disabled-link{ color:#fff!important;}