// Styles for actualidad

body.page-taxonomy-term-3{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @red!important;
		&:after{
			content: "Actualidad";	
		}		
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
}