// Styles for actualidad

body.detalle-actualidad{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @red!important;	
		&:after{
			content: "Actualidad";	
		}
	}
	div#submenu{
		display: none;
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
	div.node-openpublish-article{
		.articulo-form;
	}	
	.block-5ce78ee8d7030d935fd275a05708281b,
	.block-other-news{
		h2.block-title{
			color: @red;
		}
	}
}










