// // Styles for opinion

body.page-analisis{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @pink!important;
		&:after{
			//content: "Análisis";
			content: "Opinión";	
		}		
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
	#region-content .block-menu{
		h2.block-title{
			display: none;
		}
		ul.menu{
			.list-menu;
		}		
	}		
	#region-content .content.clearfix{
		ul.menu{
			.list-menu;
			// margin-top: -63px;
		}		
	}
	.item-list{
		text-align: center;
		width: 100%;
	}	


}

.vista-opinion{
	.view-id-opinion{
		.opinion-titular; //mixing
		border-bottom: none;
	}	
	.view-content{
		.views-row{
			.opinion-titular; //mixing	
		}
	}
}
