// Styles for contacto

body.context-anunciese{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @gray-40!important;
		&:after{
			content: "Anunciese";	
		}		
	}
	article{
		div.field-body{
			margin-top: 20px;				
			p{
				.principal-font;
				.font-size(16);
				color: @second-color;
			}
		}
	}
}