// Styles for contacto

body.context-aviso-legal{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @gray-40!important;
		&:after{
			content: "Aviso";	
		}		
	}
	div.field-body{
		h3{
			span{
				.principal-font;
				.font-size(13);
				color: @second-color;
				font-weight: bold;
				margin-bottom: 5px;
				margin-left: 0;
				margin-top: 10px;
				text-transform: uppercase;				
			}
		}
		p{
			.principal-font;
			.font-size(13);
			color: @second-color;
			line-height: 15px;
			margin-bottom: 5px;
		}
	}
}