// Styles for contacto

body.context-buscar,
body.page-buscar{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @gray-40!important;
		&:after{
			content: "Buscar";
		}
	}
	.container-inline-date .form-item input	{
		float: left;
	}
	  div.item-list{
	      text-align: center;
	      width: 100%;
	      ul.pager{
	      	font-style: normal;
	      }
	  }
	select[multiple], select[size]{
		.font-size(14);
	}
	#edit-submit-buscar{
		.font-size(14);
	}
	#ui-datepicker-div{
		width: 200px;
	}
	.ui-datepicker-calendar{
		.font-size(12);
	}

	#group-created {
	    width: 300px;
    	float: left;

		#edit-created-wrapper,
		#edit-created-1-wrapper {
			width: 250px;

			.description {
				.font-size(12);
			}
		}
	}

	div.views-row{
		border-bottom: 1px dotted @third-color;
		margin-bottom: 25px;
		padding-bottom: 20px;
		display:block;
		overflow: hidden;
		clear:both;
		position:relative;

		span.fechalugar{
			.font-size(14);
			color: @link-color;
			display: inline-block;
			font-style: normal;
			font-weight: bold;
		}
		div.views-field-field-op-section-term{
			display: inline-block;
			span{
				.font-size(14);
				font-style: normal;
				margin-left: 10px;
				text-transform: uppercase;
			}
		}
		div.views-field-title{
			width: 80%;
			span{
				a{
					.font-size(24);
					color: @link-color!important;
					display: inline-block;
					font-family: 'Georgia, serif';
					text-align: left;
					font-style: normal;
					line-height: 28px;
					margin: 10px 0;
				}
			}
		}
		div.views-field-body{
			width: 80%;
			span{
				.font-size(15);
				line-height: 18px;
				font-style: normal;

				p em {
					display: none;
				}
			}
	      a{
	        .principal-font;
	        .font-size(15);
	        color: @link-color;
	        font-style: normal;
	        &:after{
	          content: "[+]";
	          padding-left: 5px;
	        }
	      }
		}
	}
	div.views-field-default-node-index-field-op-gallery-image{
		display: inline-block;
		margin-top: 20px;
		.field-op-gallery-image-caption{
			.font-size(14);
		}
	}
	div.views-field-field-op-main-image{
		margin-left: 20px;
		width: 214px;
		height: 113px;
		display:block;
		position: absolute;
		top:0px;
		left:auto;
		right: 0px;
	}

	div.form-item-fecha-date {
		label {
			display: block;
		}
	}
}