// Styles for contacto

body.context-contacto{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @gray-40!important;
		&:after{
			content: "Contacto";	
		}		
	}
	#block-system-main{
		float: left;
		p{
			.principal-font;
			.font-size(16);
			color: @second-color;
			margin-top: 20px;
		}
	}
	#block-block-6{
		float: right;
		margin-top: 20px;
		width: 666px;
	}
}

