// Styles for contacto

body.page-enlaces-de-interes{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: #004A8F!important;
		&:after{
			content: "Enlaces de interes";	
		}		
	}
	div.field-body{
		margin-top: 30px;
		h3{
			span{
				.principal-font;
				.font-size(13);
				color: @second-color;
				font-weight: bold;
				margin-bottom: 5px;
				margin-left: 0;
				margin-top: 10px;
				text-transform: uppercase;				
			}
		}
		p{
			.principal-font;
			.font-size(13);
			color: @second-color;
			line-height: 15px;
			margin-bottom: 5px;
			padding-left: 0!important;
			margin-bottom: 10px;			
		}
	}
	  div.item-list{
	      text-align: center;
	      width: 100%;
	  }

	table{
		border-spacing: 10px;
    	border-collapse: separate;
		
		tbody{
			tr{
				td{		
					padding: 10px;
					border: 1px solid @third-color;
					min-height: 100px;
					min-width: 280px;
					background: url(../img/arrow-right-big.png) 98% 90% no-repeat;
						
					.field-imagen {
						float: left;
						margin-right: 10px;
						position: relative;
						top: 1px;
					}
					.myp_enlace {
						.field-url{
							a{
								.font-size(20);
								color: @link-color;
								font-family: 'Georgia, serif';
								line-height: 20px;
							}
						}
					}
				}
			}
		}
	}
	.block-system-main div.block-inner{
		border-right: 0 none;
	}
	.views-widget{
		position: absolute;
		top: 42px;
		left: 77px;

	}
	.zone-user-wrapper .views-widget{
		float: none;
		position: relative;
		top: 0px;
		left: 0px;
		margin-top: 0px;
		margin-left: 0px;	
	}
}
#edit-default-node-index-created-wrapper{
		label{
			display: inline-block;
			width: 100%;
		}

}
.views-exposed-form .views-exposed-widget{
	float: left;
	margin: 20px 13px 13px 13px;
		label{
			display: inline-block;
		}
		input[type=text]{
			float: left;
		}
}
#edit-titulo{
	width: 200px;
}