// Styles for opinion

body.context-firmas,
body.page-firmas,
body.firma{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @pink!important;
		&:after{
			// content: "Firmas";	
			content: "Opinión";	
		}		
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
	#region-content .block-menu{
		h2.block-title{
			display: none;
		}
		ul.menu{
			.list-menu;
		}		
	}		
	#region-content .content.clearfix{
		ul.menu{
			.list-menu;
			// margin-top: -63px;
		}		
	}
	.item-list{
		text-align: center;
		width: 100%;
	}	
	div.field-lugar{
		float: left;
	}
	.vista-firmas{
		margin-top: 30px;
		table{
			tbody{
				tr{
					td{
						div.content-table{
							border: 1px solid @third-color;
							display: inline-block;
							margin-bottom: 20px;
							margin-right: 20px;
							padding: 20px;
							width: 280px;							
						}
						img.adaptive-image{
							margin-bottom: 10px;
							width: 232px;
						}
						a{
						.font-size(22);
							.secondary-font;
							line-height: 24px;
							color: @link-color;
							height: 40px;
							display: inline-flex;							
						}
						&:last-child{
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}

body.firma{
	.articulo-form;
	span.firmado_por{
		.font-size(14);
		color: @link-color;
		float: left;
		padding-top: 15px;
	}
	div.field-firmante{
		.font-size(14);
		color: @link-color;		
		float: left;
		margin-left: 6px;
		padding-top: 15px;
	}
	div.view-firmas-listado{
		div.views-row{
			border-bottom: 1px solid @third-color;
			// display: inline-block;
			display:block;
			clear:both;
			overflow:hidden;
			width: 100%;
			padding: 20px 0;
			.conten-articulo-firmas{
				.font-size(12);
				color: @link-color;
				float: left;
				width: 70%;
				h2{
					font-variant: normal;
					a{
						.font-size(24);
						float: left;
						line-height: 26px;						
						width: 100%;
					}
				}				
				a{
					.font-size(12);
					color: @link-color;
					float: left;					
				}
				span.read-more{
					a{
				        .principal-font;
				        .font-size(12);          
				        color: @link-color;
					        &:after{
					          content: "[+]";
					          padding-left: 5px;
					        }
				    }
				}
			    div.field-body{
			    	p{
			    		.font-size(14);
			    		color: @gray-40;
			    	}
			    }
			}
			div.views-field-field-op-main-image-1{
				float: right;
			}
			div.views-field-created{
				.font-size(12);
				color: @link-color;
			}
		}

	}
}


body.node-type-firma{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @pink!important;
		&:after{
			content: "Firmas";	
		}		
	}
	div.field-titulo-custom{
		float: left;
		width: 100%;
	}
	div.field-firmante{
		.font-size(14);
		color: @link-color;		
		float: left;
		width: 100%;
		padding: 0px;
		margin: 0px;
		margin-bottom: 10px;
	}
	div.field-lugar{
		.font-size(14);
		color: @link-color;
		float: left;
	}	
	div.field-antetitulo{
		.font-size(14);
	}
	div.field-op-caption{
		.font-size(12);	
	}
	div.field-op-main-image{
		float: left;
		margin-bottom: 10px;
		margin-right: 20px;
	}
	div#submenu{
		display: none;
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
	div.node-openpublish-article{
		.articulo-form;
	}
}

