// FONTS


// @font-face {
// 	font-family: '';
// 	src:  url('') format('truetype');
// 	font-weight: normal;
// 	font-style: normal;
// }

.principal-font{
	font-family: "Verdana";
	.font-size(15);
	text-align: left;
}
.secondary-font{
	font-family: 'Georgia, serif';
	//text-align: left;
	text-align: left;
}

@font-face {
	font-family: 'Georgia, serif';
	font-weight: normal;
}

@font-face {
	font-family: 'Verdana';
	font-weight: normal;
}
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */

@font-face {
	font-family:"ChunkFive"!important;
	src:url("../fonts/Chunkfive_Ex.eot?") format("eot"),
	url("../fonts/Chunkfive_Ex.woff") format("woff"),
	url("../fonts/Chunkfive_Ex.ttf") format("truetype"),
	url("../fonts/Chunkfive_Ex.svg#ChunkFive") format("svg");
	font-weight:normal!important;
	font-style:normal;
}


