// Styles for fundaciones

body.page-taxonomy-term-2,
body.page-taxonomy-term-16,
body.page-taxonomy-term-17,
body.page-taxonomy-term-18{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @blue!important;
		&:after{
			content: "Fundaciones OMC";	
		}		
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
}
