// Styles for fundaciones

body.detalle-fundaciones,
body.detalle-fpsomc,
body.detalle-ffomc,
body.detalle-frcoms{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @blue!important;
		&:after{
			content: "Fundaciones OMC";	
		}		
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
	div.node-openpublish-article{
		.articulo-form;
	}	
	.block-5ce78ee8d7030d935fd275a05708281b,
	.block-other-news{
		h2.block-title{
			color: @blue;
		}
	}	
}
