// Styles for general articles
body.node-type-openpublish-article{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @gray-40;
		&:after{
			content: "";
		}
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}
	}
	div.node-openpublish-article{
		.articulo-form;
	}
}

// Styles for general final pages
body.node-type-openpublish-site-page{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @gray-40!important;
		&:after{
			content: "";
		}
		margin-bottom: 30px;
	}

	h2.block-title {
		color: @link-color;
		font-family: 'Georgia, serif';
		// font-size: 38px;
		// line-height: 38px;
		font-size: 36px;
		line-height: 36px;
		margin-top: 10px;
		font-variant:normal;
	}
}

// Links in content
.field-body a,
.field-body p a,
.field-archivo a,
.field-body a:visited,
.field-body p a:visited,
.field-archivo a:visited {
	color:@link-color !important;
	text-decoration: none !important;
}

.field-body a:hover,
.field-body p a:hover,
.field-archivo a:hover {
	color:@link-color !important;
	text-decoration: underline !important;
}

//Top Banner
#boxes-box-ad_600x150 img {
	float:none;
	clear:both;
}
