// Styles for pacientes

body.detalle-historico{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @gray-40!important;
		&:after{
			content: "Histórico";	
		}		
	}
	div#submenu{
		display: none;
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
	div.node-openpublish-article{
		.articulo-form;
	}
}
