// Styles for images gallery
body.node-type-imagen,
body.node-type-grafico,
body.node-type-enlace{
	h1#page-title,
	h3.field-label {display: none;}
	.field-seccion-multimedia{
		font-size: 14px;
		margin-top: 10px;
		font-weight: bold;
	}
	.field-title h2{
		color: @link-color;
		font-family: 'Georgia, serif';
		text-align: left;
		// font-size: 38px;
		// line-height: 38px;
		font-size: 36px;
		line-height: 36px;
		margin-top: 10px;
		font-variant:normal;
	}
	.field-imagen{
		float:left;
		margin: 10px 15px 10px 10px;
	}
	.node-unpublished {
		background-color: transparent;
	}
}

//Video detalle
body.node-type-openpublish-video {
	.region-content-inner {
		position: relative;
	}

	h3.field-label {display: none;}
	.field-seccion-multimedia{
		font-size: 14px;
		margin-top: 10px;
		font-weight: bold;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.field-body,
	.field-op-video-embed {
		position:relative;
		top: 120px;
	}
	h1#page-title{
		color: @link-color;
		font-family: 'Georgia, serif';
		text-align: left;
		// font-size: 38px;
		// line-height: 38px;
		font-size: 36px;
		line-height: 36px;
		margin-top: 10px;
		font-variant:normal;
		position:relative;
		top: 120px;
		left: 0px;
	}
	.field-imagen{
		float:left;
		margin: 10px 15px 10px 10px;
	}
	.node-unpublished {
		background-color: transparent;
	}
	#section-content #region-content .region-content-inner .content {
		margin-top:0px;
	}
}


