// Styles for investigacion

body.detalle-investigacion,
body.detalle-investigación{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @yellow!important;
		&:after{
			content: "Investigación";	
		}		
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
	div.node-openpublish-article{
		.articulo-form;
	}	
	.block-5ce78ee8d7030d935fd275a05708281b,
	.block-other-news{
		h2.block-title{
			color: @yellow;
		}
	}	
}