// Styles for investigacion

body.page-taxonomy-term-6{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @yellow!important;
		&:after{
			content: "Investigación";	
		}		
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
}