// Styles for contacto

body.context-mapa-web{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @gray-40!important;
		&:after{
			content: "Mapa web";	
		}		
	}

	div.field-body{
		margin-top: 20px;
		ul.list-mapa-web{
			display: inline-block;
			li{
				float: left;
				list-style: none;
				margin-right: 15px;
				width: 130px;
				a{
					.font-size(11);
					color: @second-color;
					display: inline-block;
					&:first-child{
						background: @gray-40;
						color: #FFF;
						padding: 5px;
						width: 100%;
					}
				}
			}
		}
		ul.list-link{
			li{
				float: left;
				list-style: none;
				margin-right: 15px;
				width: 130px;
				a{
					.font-size(11);
					border: 1px solid @second-color;
					color: @second-color;
					display: inline-block;
					padding: 5px;
					width: 100%;
				}
			}
		}
	}

}