// MIXING FOR SITE

.lugar-style {
	text-transform: uppercase;

	&:after {
		content:", ";
		margin-left: -2px;
	}
}
.autor-style {
	&:before {
		content:"- ";
		margin-left: 2px;
	}
	font-size: 13px !important;
}


// bloque subtitles
.subtitles{
	color: transparent;
	font-family:"ChunkFive";
	.font-size(60);
	font-weight: normal;
	height: 90px;
	line-height: 120px;
	margin-top: 10px;
	min-height: 90px;
	padding-left: 0;
	position: relative;
	text-indent: -9999px;
    z-index: 1;
	&:before{
		background: url(../img/arrow-title.png) no-repeat;
		content: "";
		display: inline-block;
		height: 20px;
		left: 50px;
		padding: 0 20px;
		position: absolute;
		top: -1px;
		width: 20px;
	}
	&:after{
		border-bottom: 1px solid @third-color;
	    content: "";
	    color: #FFF;
	    display: inherit;
		left: 0;
	    margin-top: -10px;
	    position: relative;
	    text-indent: 20px;
	    text-transform: normal;
	    top: -110px;
	}
}
.list-menu{
	float: right;
	margin-top: -59px;
	margin-right: 3px;
	position: relative;
    z-index: 998;
	li{
		display: inline-block;
		border-right: 1px solid #FFF;
		height: 11px;
		line-height: 6px;
		color: #FFF;
		.font-size(12);
		margin:0 0 0 0.1em;
		a{
			color: #FFF;
			.font-size(11);
			font-weight: bold;
		}
		a.active,
		a.active-trail{
			background: url(../img/arrow-down.png) center 16px no-repeat;
			padding-bottom: 13px;
		}
		&:last-child{
			border-right: 0 none;
		}
	}
}


// bloques de contenido
.titular-foto{
	border-bottom: 1px solid @third-color;
	display: inline-block;
	margin-top: 30px;
	padding-bottom: 30px;
	div.field-op-caption{
		.font-size(11);
		color: @second-color;
	}
	span.antetitulo,
	div.field-antetitulo{
		.font-size(14);
		color: @second-color;
	}
	span.content-title{
		display: inline-block;
		a{
			.font-size(38);
			color: @link-color;
	        font-family: 'Georgia, serif';
	        text-align: left;
			line-height: 38px;
		}
	}
	span.content-autor{
		display: inline-block;
		margin-bottom: 10px;
		width: 100%;
		span{
			.font-size(13);
			color: @link-color;
			float: left;
			margin-right: 5px;
		}

		.lugar .field-lugar {
			.lugar-style;
		}
		.autor .field-autor {
			.autor-style;
		}
	}
	.field-entradilla {
		color: @fifth-color;
		font-weight: bold;
		margin-top: 10px;
	}
    div.field-body{
    	p{
    		.font-size(18);
    		color: @fifth-color;
    		line-height: 20px;
    		margin-bottom: 0;
    	}
    }
    span.read-more{
    	float: right;
      a{
        .principal-font;
        .font-size(13);
        color: @link-color;
        &:after{
          content: "[+]";
          padding-left: 5px;
        }
      }
    }
    span.content-body{
    	div.field-body{
    		margin-bottom: 10px;
    	}
    }
    div.field-url{
    	a{
    		.font-size(13);
    		color: @link-color;
    		display: inline-block;
    		&:before{
    			background: url(../img/arrow-right.png) no-repeat;
    			content: "";
			    display: inline-block;
			    height: 9px;
			    margin-right: 2px;
			    width: 9px;
    		}
    	}
    }

  .content-entrevista{
    border-right: 1px solid @third-color;
    float: left;
    padding: 0 20px 0 0;
    width: 50%;

    .field-entradilla {
		margin-top: 10px;
		color: @fifth-color;
		font-weight: bold;
	}
  }
  .field-op-main-image,
  .field-field-op-main-image-1,
  .views-field-field-op-main-image-1{
    float: right;
    padding: 0 0 0 20px;
    width: 50%;
    img.adaptive-image{
      width: 100%;
    }
  }
}

.titular-foto-first{
	width:100%;
	.field-op-main-image{
		float: none;
		margin-bottom: 10px;
		padding: 0;
		width: 100%;
	}
  .content-entrevista{
    border-right: 0 none;
    float: left;
    padding: 0;
    width: 100%;

    .field-entradilla {
		margin-top: 10px;
		color: @fifth-color;
		font-weight: bold;
	}
    span.content-title{
		a{
			.font-size(38);
			line-height: 38px;
		}
	}
  }
 }

.titular-firspage-row2{
	.content-entrevista {
		.content-title{
			a{
				.font-size(38);
				line-height: 38px;
			}
		}
		.field-entradilla,
		.field-addthis,
		.content-autor,
		.content-body .field-body {
			width:50%;
		}
		.content-body .read-more {
			width: 60%;
		}


	}
	.views-field-field-op-main-image-1 {
		display:block;
		height: 300px;
		position:absolute;
		top: auto;
		left: auto;
		right: 0px;
		bottom: 0px;
	}
}
.titular-firspage-row3{
	border-right: 1px solid @third-color;
	width: 48%;
	padding-right: 20px;
	float: left;
	clear: none;
	border-bottom: none;

	.content-entrevista {
		span.content-title{
			a{
				.font-size(24);
				line-height: 24px;
			}
		}
	}

	.views-field-field-op-main-image-1 {
		display:block;
		width: 100%;
		padding: 0px;
		margin-top: 10px;
	}

}
.titular-firspage-row4{
	float:right;
	width: 48%;
	clear: none;

	.content-entrevista {
		span.content-body {
			width: 53%;
			display: block;
		}
		span.content-title{
			a{
				.font-size(24);
				line-height: 24px;
			}
		}
	}

	.views-field-field-op-main-image-1 {
		display: block;
		position: absolute;
		top: auto;
		left: auto;
		bottom: 20px;
		right: 0px;

		width: 190px;
		// height: 190px;
	}

}
.titular-firspage-row5{
	float:right;
	width: 48%;
	clear: right;
	border-bottom: none;

	.content-entrevista {
		span.content-title{
			a{
				.font-size(24);
				line-height: 24px;
			}
		}
	}
}
.titular-firspage-row6,
.titular-firspage-row7,
.titular-firspage-row8 {
	width: 32%;
	clear:none;
	float: left;
	min-height:340px;
	border: none;
	padding-top: 30px;
	padding-right: 15px;


	.content-entrevista {
		border-right: 1px solid @third-color;
		min-height:300px;
		.content-title{
			a{
				.font-size(24);
				line-height: 24px;
			}
		}

		.field-entradilla {
			margin-top: 10px;
			color: @fifth-color;
			font-weight: bold;
		}
		.content-body .field-body{display: none;}
	}
}
.titular-firspage-row6 {
	clear: left;
}
.titular-firspage-row8{
	padding-right: 0px;
	margin-right: 0px;

	.content-entrevista {
		border-right: none;
	}
}

.titular-interiores {
	position:relative;
	display:block;
	clear:both;
	float:none;

	.titular-foto;

	.content-entrevista {
		width: 100%;
		border:none;

		span.content-title{
			a{
				.font-size(24);
				line-height: 24px;
			}
		}
		.field-entradilla {
			margin-top: 10px;
			color: @fifth-color;
			font-weight: bold;
		}
	}
	.views-field-field-op-main-image-1 {display:none;}
}


// vista seccion para paginas de secciones y detalle
.vista-seccion{
	.view-content{
		.views-row{
			.titular-interiores
		}
		.views-row-1.first-page{
			.titular-foto-first;
		}
		.views-row-2.first-page{
			.titular-firspage-row2;
		}
		.views-row-3.first-page{
			.titular-firspage-row3;
		}
		.views-row-4.first-page{
			.titular-firspage-row4;
		}
		.views-row-5.first-page{
			.titular-firspage-row5;
		}
		.views-row-6.first-page{
			.titular-firspage-row6;
		}
		.views-row-7.first-page{
			.titular-firspage-row7;
		}
		.views-row-8.first-page{
			.titular-firspage-row8;
		}

		#group-bottom.first-page {
			border-top: 1px solid @third-color;
			border-bottom: 1px solid @third-color;
			float:left;
			width: 100%;
			margin: 15px 0px 0px 0px;
		}
	}
}

// opinion
.opinion-titular{
	border-bottom: 1px solid @third-color;
	display: inline-block;
	padding-bottom: 30px;
	text-align: center;
	.field-antetitulo{
		.font-size(14);
		color: @second-color;
	}
	.views-field-title{
		span{
			a{
				.font-size(38);
				color: @link-color;
		        font-family: 'Georgia, serif';
		        text-align: left;
			}
		}
	}
	div.field-op-main-image{
		margin-bottom: 20px;
	}
	span.content-title{
		display: inline-block;
		a{
			.font-size(38);
			color: @link-color;
	        font-family: 'Georgia, serif';
	        text-align: left;
		}
	}
	.content-autor{
		display: inline-block;
		margin-bottom: 10px;
		width: 100%;
		span{
			.font-size(11);
			color: @link-color;
			float: left;
			// margin-right: 5px;
		}
	}
	div.fechalugar{
		display: inline-block;
		margin-bottom: 10px;
		width: auto;
		span{
			.font-size(11);
			color: @link-color;
			float: left;
			margin-right: 5px;
		}
	}
    div.field-body{
    	p{
    		.font-size(18);
    		color: @fifth-color;
    		line-height: 20px;
    		margin-bottom: 0;
    	}
    }
    span.read-more{
      a{
        .principal-font;
        .font-size(13);
        color: @link-color;
        &:after{
          content: "[+]";
          padding-left: 5px;
        }
      }
    }
    div.field-url{
    	a{
    		.font-size(13);
    		color: @link-color;
    		display: inline-block;
    		&:before{
    			background: url(../img/arrow-right.png) no-repeat;
    			content: "";
			    display: inline-block;
			    height: 9px;
			    margin-right: 2px;
			    width: 9px;
    		}
    	}
    }
}



// bloque comments
#comments{
	display: inline-block;
	margin-top: 35px;
	width: 100%;
	form#comment-form{
		clear: both;
		article{
			margin-top: 10px;
			margin-bottom: 30px;
		}
		.form-item{
			label{
				display: inline-block;
				width: 90%;
			}
			.description{
				.font-size(12);
			}
		}
		#edit-author--2{
		    margin-left: 0;
		    margin-bottom: 30px;
			label{
				display: block;
				width: auto;
			}
		}
		header{
			.unpublished{
				white-space: nowrap;
			}
			h3{
				display: none;
			}
		}
	}
}
.comment-wrapper{
	h2{
		border-right: 2px solid @third-color;
		color: #cd071e;
		font-family: 'Verdana';
		font-size: 16px;
		float: left;
		margin-left: 0;
		margin-top: -15px;
		padding-right: 10px;
		text-transform: uppercase;
		&.comment-form{
			margin-left: 0;
		}
	}
	h3{
		float: left;
		border-right: 2px solid @third-color;
		height: 18px;
		line-height: 18px;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: -5px!important;
		padding-right: 10px;
	}
	div.form-type-item{
		border-right: 2px solid @third-color;
		float: left;
		height: 18px;
		line-height: 22px;
		margin-left: 10px;
		margin-top: 16px;
		padding-right: 10px;
		label{
			display: none;
		}
		a{
			color: @link-color;
			font-size: 14px;
		}
	}
	div.form-type-textarea{
		border-right: 0 none;
		display: inline-block;
		width: 100%;
		div.form-textarea-wrapper{
			width: 100%;
		}
	}
	div.form-actions{
		margin-top: 20px;
		input{
			font-size: 14px;
		}
	}
	footer{
		margin-top: -6px;
		span{
			a{
				color: @link-color;
				font-size: 14px;
			}
		}
	}
	div.field-comment-body{
		float: left;
		font-size: 13px;
		width: 100%;
	}
	article{
		background: #f6f6f6!important;
		border: 0 none!important;
	}
	nav{
		float: right;
		ul{
			li{
				padding: 0;
				a{
					background: @gray-40;
					border-radius: 5px;
					color: #FFF;
					font-size: 10px;
					padding: 5px;
				}
			}
		}
	}
}

.field-archivo{
	margin-bottom: 10px;
	a{
		font-size: 14px;
		position: relative;
		top: 4px;
	}
}


// bloque historico
.articulo-form{
	h2.title-articulo{
		color: @link-color;
		font-family: 'Georgia, serif';
		text-align: left;
		// font-size: 38px;
		// line-height: 38px;
		font-size: 36px;
		line-height: 36px;
		margin-top: 10px;
		font-variant:normal;
	}
	div{
		img{
			float: left;
			margin-right: 20px;
		}
	}
	div.field-antetitulo{
		font-size: 14px;
		margin-top: 10px;
		font-weight: bold;
	}
	div.field-entradilla{
		color: @fifth-color;
		font-weight: bold;
		font-size: 16px;
		line-height: 18px;
	}
	div.group-tools{
		color: @link-color;
		background: #f9fafa;
		font-size: 11px;
		margin: 10px 0;
		padding:4px 4px 4px 4px;

		.field-block-print-mail-pdf {
			top: 6px;

			.print_mail {
			  top: -6px;
			}
		}

		.fechalugar {
			padding-top: 10px;
			span{
				border-right: 2px solid @link-color;
				margin-right: 5px;
				padding-right: 5px;
				.font-size(13);
				line-height:21px;
				&.nodo_firma{
					border-right: 0 none;
				}
			}
		}
	}
	div.field-op-main-image{
		margin-bottom: 10px;
		img{
			float: left;
			margin-right: 20px;
			width: auto;
		}
	}
	div.field-op-caption{
		.font-size(11);
		color: @second-color;
	}

	div.field-url {
		a {
			color:@link-color;
			text-decoration: none;;

			&:hover {
				color:@link-color;
				text-decoration: underline;
			}
		}
	}
}




