// Styles for multimedia
body.page-multimedia,
body.page-videos,
body.page-imagenes,
body.page-graficos {
	text-align: left;
}


body.page-multimedia{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @green-multi!important;
		&:after{
			content: "Multimedia";
		}
	}
	div#submenu{
		display: none;
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
			margin-top: -36px;
		}
	}
	div.bef-select-as-links{
		display: none;
	}

	.panel-2col-stacked .panel-col-first{
		margin-top: 77px;
	}
}

body.page-multimedia{
	.fila-destacado-multimierda,
	.fila-destacado-multimedia{
		.field-imagen{
			float: left;
		}
		.type-openpublish_video.views-field-title{
			display: none;
		}		.views-field-title,
		.field-body{
			float: left;
			padding: 0 20px;
			width: 440px;
		}
	}
}

.pane-fotos-y-videos{
	margin-top: 60px;
	h2.pane-title{
		background: url(../img/nav_videos.png) no-repeat;
		color: @green;
		font-family: 'Verdana'!important;
		font-size: 14px!important;
		height: 34px;
		padding-left: 20px!important;
	}
	.fila-destacado-multimierda,
	.video-destacado{
		//background: #000;
		background: #fff;
		display: inline-block;
		width:100%;
		.views-field-title{
			.secondary-font;
			.font-size(32);
			//color: #FFF;
			color: @link-color;

			a{
				.secondary-font;
				.font-size(32);
				//color: #FFF;
				color: @link-color;
			}
		}
		.field-body{
			p{
			.principal-font;
			.font-size(16);
			//color: #FFF;
			color: @second-color;
			line-height: 18px;
			}
		}
	}

}

.view-fotos-y-videos{
	table{
		border-right: 1px solid @third-color;
		tbody{
			tr{
				td{
					float: left;
					margin-bottom: 25px;
					margin-right: 25px;
					width: 255px;
					div.field-seccion-multimedia{
						.font-size(12);
						color: @second-color;
					}
					div.views-field-title{
						span,
						a{
							.font-size(18);
							text-align: left;
							color: @link-color;
							line-height: 18px;
						}
					}
					img{
						width: 100%;
					}
				}
			}
		}
	}
}
#multimierda_videos{
	margin-top: -30px;
}
#multimierda_fotos{
	.pane-fotos-y-videos{
		margin-top: -30px;
	}
	table{
		border-right: 0 none;
		border-bottom: 1px solid @third-color;
	}
}
.views-widget-filter-field_seccion_multimedia_tid{
	display: none;
}

// details multimedia
body.context-videos,
body.context-imagenes,
body.context-graficos{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @green-multi!important;
		&:after{
			content: "Multimedia";
		}
	}
	div#submenu{
		display: none;
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
			margin-top: -36px;
		}
		ul.menu{
			li.active-trail:before{
				background: url(../img/arrow-down.png) center 16px no-repeat;
				bottom: 7px;
			    content: "";
			    display: inline-block;
			    float: left;
			    height: 40px;
			    left: 80%;
			    margin-left: -33px;
			    position: relative;
			    width: 33px;
			}
		}
	}
	div.bef-select-as-links{

	}
	.attachment{
		margin-bottom: 30px;
	}

	.view-fotos-y-videos{
		margin-top: 60px;
		h2.pane-title{
			background: url(../img/nav_videos.png) no-repeat;
			color: @green;
			font-family: 'Verdana'!important;
			font-size: 14px!important;
			height: 34px;
			padding-left: 20px!important;
		}
		.video-destacado{
			//background: #000;
			background: #fff;
			display: inline-block;
			.field-op-video-embed,
			.field-imagen{
				float: left;
			}
			.views-field-title,
			.field-body{
				float: left;
				padding: 0 20px;
				width: 440px;
			}
			.views-field-title{
				a{
					.secondary-font;
					.font-size(32);
					//color: #fff;
					color: @link-color;
				}
			}
			.field-body{
				p{
				.principal-font;
				.font-size(16);
				//color: #fff;
				color: @second-color;
				line-height: 18px;
				}
			}
		}
		table{
			border-right: 0 none;
			width: 100%;
			tbody{
				tr{
					td{
						margin-right: 0;
						padding: 0 10px 0 10px;
						width: 25%;
						div.views-field-title{
							a{
								display: inline-block;
								margin-top: 10px;
							}
						}
					}
				}
			}
		}
		div.item-list{
			text-align: center;
			width: 100%;
		}
	}

}
body.context-imagenes,
body.context-graficos{
	.menu-level-2{
		ul.menu{
			.list-menu;
			margin-top: -46px;
		}
	}
}


#cboxTitle{
	.font-size(12);
}


