// Styles for contacto

body.newsletter{
	.destacado_fecha{
		bottom: 20px;
		height: 93%;
		width: 370px;
		div.fechalugar{
			position: absolute;
			bottom: 20px;
		}
		span.destacado_fecha{
			background: transparent;
		}
	}
	span.fecha-header{
		top: 0;
		text-align: center;
		margin: 0 auto;
		width: 100%;	
		color: #000;
		.font-size(20);
	}
	.block-translate-this-button,
	#block-search-form,
	#region-user-second .block-9,
	.hemeroteca{
		display: none;
	}
	footer#section-footer{
		display: none;
	}
}