// Styles for OMC

body.page-taxonomy-term-1,
body.context-secciones{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @green!important;		
		&:after{
			content: "OMC";	
		}
	}
	div#submenu{
		display: none;
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
}













