// Styles for OMC

body.detalle-omc,
body.detalle-comisión,
body.detalle-comision,
body.detalle-colegios,
body.detalle-consejos,
body.detalle-asamblea,
body.detalle-vocalías,
body.detalle-vocalias,
body.detalle-comisión,
body.detalle-comision,
body.detalle-observatorios {
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @green!important;		
		&:after{
			content: "OMC";	
		}
	}
	div#submenu{
		display: none;
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
	div.node-openpublish-article{
		.articulo-form;
	}	
	.block-5ce78ee8d7030d935fd275a05708281b,
	.block-other-news{
		h2.block-title{
			color: @green;
		}
	}	
}











