// Styles for actualidad

body.detalle-opinion,
body.detalle-opinionll {
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @pink!important;
		&:after{
			content: "Opinión";	
		}		
	}
	h2.block-title {
		display: none;
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
	#region-content .block-menu{
		h2.block-title{
			display: none;
		}
		ul.menu{
			.list-menu;
		}		
	}	
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
	div.node-openpublish-article{
		.articulo-form;
	}	
	.block-5ce78ee8d7030d935fd275a05708281b,
	.block-other-news{
		h2.block-title{
			color: @pink;
		}
	}
	div.detalle-opinion{
		.articulo-form;
	}	
}

body.logged-in.detalle-opinion, 
body.logged-in.detalle-opinionll {
	#region-content .block-menu{
		ul.menu{
			margin-top: -107px;
		}		
	}	
} 













