// Styles for opinion

body.page-opinion{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @pink!important;
		&:after{
			content: "Opinión";	
		}		
	}
	h2.block-title {
		display: none;
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
	#region-content .block-menu{
		h2.block-title{
			display: none;
		}
		ul.menu{
			.list-menu;
		}		
	}		
	#region-content .content.clearfix{
		ul.menu{
			.list-menu;
			// margin-top: -63px;
		}		
	}
	.item-list{
		text-align: center;
		width: 100%;
	}	
	// div.field-lugar{
	// 	.font-size(14);
	// }
	// span.fecha{
	// 	.font-size(12);
	// 	color: @link-color;
	// 	display: inline;
	// 	width: auto;
	// }
	// div.fechalugar{
	// 	.font-size(12);
	// 	color: @link-color;		
	// }
	// span.autor{
	// 	div.field-autor{
	// 		.font-size(12);
	// 		color: @link-color;			
	// 		display: inline;		
	// 	}
	// }

	span.content-autor,
	span.content-autor-destacado {
		display: inline-block;
		margin-bottom: 10px;
		width: 100%;
		span{
			.font-size(13);
			color: @link-color;						
			display: inline-block;
			float:none;
			margin-right: 5px;
		}

		.lugar .field-lugar {
			.lugar-style;
		}
		.autor .field-autor {
			.autor-style;
		}
	}
	.field-entradilla {
		margin-top: 10px;
		color: @fifth-color;
		font-weight: bold;
	}
}

.vista-opinion{
	.view-id-opinion{
		.opinion-titular; //mixing
		border-bottom: none;
	}	
	.view-content{
		.views-row{
			.opinion-titular; //mixing	
			padding-top: 30px;

			span.content-autor,
			span.content-autor-destacado {
				display: inline-block;
				margin-bottom: 10px;
				width: 100%;
				span{
					.font-size(13);
					color: @link-color;						
					display: inline-block;
					float:none;
					margin-right: 5px;
				}

				.lugar .field-lugar {
					.lugar-style;
				}
				.autor .field-autor {
					.autor-style;
				}
			}
			.field-entradilla {
				margin-top: 10px;
				color: @fifth-color;
				font-weight: bold;
			}	

		}
	}
}
