// Styles for organizaciones

body.page-taxonomy-term-4,
body.page-taxonomy-term-19,
body.page-taxonomy-term-20,
body.page-taxonomy-term-21{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @purple!important;
		&:after{
			content: "Organizaciones";	
		}		
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
}