// Styles for organizaciones

body.detalle-organizaciones,
body.detalle-sociedades,
body.detalle-sindicatos,
body.detalle-estudiantes {
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @purple!important;
		//line-height: 70px;
		&:after{
			content: "Organizaciones";	
		}		
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
	div.node-openpublish-article{
		.articulo-form;
	}	
	.block-5ce78ee8d7030d935fd275a05708281b,
	.block-other-news{
		h2.block-title{
			color: @purple;
		}
	}	
}