// Styles for pacientes

body.detalle-pacientes,
body.detalle-asociaciones,
body.detalle-general{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @orange!important;
		&:after{
			content: "Pacientes";	
		}		
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
	div.node-openpublish-article{
		.articulo-form;
	}	
	.block-5ce78ee8d7030d935fd275a05708281b,
	.block-other-news{
		h2.block-title{
			color: @orange;
		}
	}	
}