// Styles for pacientes

body.page-taxonomy-term-5,
body.page-taxonomy-term-22,
body.page-taxonomy-term-23{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @orange!important;
		&:after{
			content: "Pacientes";	
		}		
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}		
	}
}