// Styles for opinion

body.context-posts-destacados{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @pink!important;
		&:after{
			//content: "Post destacados";
			content: "Opinión";
		}
	}
	.menu-level-2{
		ul.menu{
			.list-menu;
		}
	}
	#region-content .block-menu{
		h2.block-title{
			display: none;
		}
		ul.menu{
			.list-menu;
		}
	}
	#region-content .content.clearfix{
		ul.menu{
			.list-menu;
			// margin-top: -63px;
		}
	}
	.item-list{
		text-align: center;
		width: 100%;
	}

	table{
		margin-top: 20px;
		tbody{
			tr{
				td{
					display: inline-flex;
					margin-bottom: 20px;
					margin-right: 20px;
					width: 270px;
					div.content-post{
						border: 1px solid @gray-60;
						padding: 10px;
					}
					div.field-fuente{
						.font-size(14);
						color: @second-color;
					}
					div.views-field-title{
						a{
							.font-size(24);
							text-align: left;
							color: @link-color;
							display: inline-block;
							line-height: 24px;
							margin: 5px 0;
						}
					}
					div.field-body{
						p{
							.font-size(14);
							color: @fifth-color;
						}
					}
					div.views-field-nothing{
				        span.field-content{
				          a{
				            .principal-font;
				            .font-size(12);
				            color: @link-color;
				            line-height: 13px;
				            &:after{
				              content: "[+]";
				              padding-left: 5px;
				            }
				          }
				        }
					}
			        span.read-more{
			          a{
			            .principal-font;
			            .font-size(12);
			            line-height: 13px;
			            &:after{
			              content: "[+]";
			              padding-left: 5px;
			            }
			          }
			        }
				}
				td:last-child{
					margin-right: 0;
				}
			}
		}
	}

}


