// Print Version

body.page-portada,
body.page-preportada {
    #region-user-first,
    #region-user-second,
    #region-menu,
    #region-sidebar-second,
    #block-boxes-horizontal-portada-super,
    #block-boxes-horizontal-portada-medium,
    #block-boxes-horizontal-portada-bajo,
    #region-footer-first ul.menu
    {
        display:none !important;
    }

    #section-content #region-content .region-content-inner {
        border: none;
    }

    .block-views-preportada-preportada-block-1,
    .block-views-portada-block-1,
    .block-views-preportada-preportada-block-2,
    .block-views-portada-block-2,
    .block-views-preportada-preportada-block-3,
    .block-views-portada-block-3 {
        border-top: none;
    }

    .block-views-preportada-preportada-block-1 #myp_portada_sup_der, .block-views-preportada-preportada-block-3 #myp_portada_sup_der, .block-views-portada-block-1 #myp_portada_sup_der, .block-views-portada-block-3 #myp_portada_sup_der, .block-views-preportada-preportada-block-1 #myp_portada_low_der, .block-views-preportada-preportada-block-3 #myp_portada_low_der, .block-views-portada-block-1 #myp_portada_low_der, .block-views-portada-block-3 #myp_portada_low_der {
        width: 540px;
        float: left;
        padding-left: 0px;
        border-left: none;
    }
    .block-views-preportada-preportada-block-2 #myp_portada_med_izq, .block-views-portada-block-2 #myp_portada_med_izq {
        width: 540px;
        float: left;
        padding-right: 0px;
        border-right: none;
    }
    .block-views-preportada-preportada-block-2 #myp_portada_med_der, .block-views-portada-block-2 #myp_portada_med_der {
        width: 540px;
        float: left;
        padding-left: 0px;
        border-left: none;
    }
}