@media only screen and (min-width: 768px) and (max-width: 1179px) {
      body{
        padding: 0 10px!important;
      }

	  //Banner + menu multimedia
	  #zone-user-wrapper {
		.region-user-first {
			display:none;
		}
		.region-user-second {
			span.fecha-header {
				top:5px;
			}
			.block-gtranslate {
				left:0px;
				top:-13px;
			}
			.block-block-9, .block-block-11 {
			   display:none;
		    }
		}
	  }

      // Logo
      .logo-img{
        margin-left: 0!important;
        text-align: left;
      }
      .site-name-slogan {
          float: none;
          margin-top: 10px;
          width: 80%;
        .site-name {
          background: url(../img/myp.png) no-repeat;
          background-size: contain;
          margin-bottom: -50px;
        }
      }

      // Menu
	  // nav.navigation ul li {
		// margin-right: 10px !important;
    //
		// a {
		// 	font-size:12px;
		// }
	  // }
    nav.navigation {
      button.btn-navbar {
        display:block;
      }
      ul.main-menu{
        display: none;

        li{
          display:block!important;
          float: left!important;
          clear: left;
          margin-bottom: 10px;
          width: 100%!important;
          a{
            margin-top: 12px;
          }
          &.menu-1609{
            left: 50%;
            margin-left: -20px;
            margin-bottom: 0;
          }
        }
      }
      &.active {
        ul.main-menu {
          display: block;
        }
      }
    }


      //menú secundario sección
      .context-posts-destacados, .page-analisis, .page-articulos, .page-editorial, .context-firmas, .context-secciones, .page-multimedia, .page-taxonomy-term-1, .page-taxonomy-term-2, .page-taxonomy-term-4, .page-taxonomy-term-5, .page-taxonomy-term-16, .page-taxonomy-term-17, .page-taxonomy-term-18, .page-taxonomy-term-19, .page-taxonomy-term-20, .page-taxonomy-term-21, .page-taxonomy-term-22 {
          .menu-level-2 ul.menu{
           width:100%!important;
          }
          li {
              margin: 10px 0px 0px 0.1em!important;
              padding-bottom: 20px;
          }
      }

      // Contenido
      .view-portada table td[class*=col-], table th[class*=col-] {
        display: inline-block;
        text-align: center!important;
        min-height: 380px;
        width: 46% !important;
		margin: 8px;
        float:left!important;

		.field-op-main-image {
			margin:0px;
			padding:0px;
			width:100%;

			a {
				width:100%;
			}
		}
		.views-field-title {
			width:90%;

			a {
				width:100%;
			}
		}
      }

    .destacado_titulo {
      a {
        margin-bottom: 15px;
        .font-size(33);
        color: #006aa7 !important;
      }
    }
    .destacado_entradilla {
      display: block;
      font-weight: bold;
      .font-size(14);
    }
    .destacado_body {
      display: block;
      .font-size(14);
      color: #787878;
    }
    .destacado_body a.more-link{
      clear:both;
      display: block;
      width: auto;
      .principal-font;
      .font-size(13);
      line-height: 13px;
      margin-top: 10px;
        &:after{
          content: "[+]";
          padding-left: 5px;
        }

    }
    .destacado_imagen {
      padding-bottom: 10px;
      overflow: hidden;
      display: block;
      background: transparent;
    }
    .destacado_imagen a {
      margin-top: 0px !important;
    }
    .destacado_fecha {
      background: transparent;
      bottom: auto;
      color: #3e3d40;
      display: block;
      overflow: hidden;
      left: auto;
      position: relative;
      padding: 0;
      width: 100%;
      z-index: 10;
      clear: both;
      float: none;
    }

		//Portada
      body.page-portada .block-system-main,
      body.page-portada .block-system-main div.block-inner{
        border-right: 0 none!important;
        padding: 0!important;
      }
      .view-id-portada .view-content .views-row .content-entrevista,
      .view-id-portada .view-content .views-row .field-body {
        border-right: 0 none!important;
        width: 100%!important;
      }
      .view-id-portada .view-content .views-row .field-op-main-image {
          width: 100% !important;
          height: auto !important;
          float: none !important;
          clear: both !important;
          display: block !important;
          position: relative !important;
          top: 0px !important;
          left: 0px !important;
          overflow: hidden !important;

      		img {
      			width: 100% !important;
      			height: auto !important;
      			display:block;
      			position: relative !important;
      			top:0px !important;
      			left:0px !important;
      			margin:0 !important;
      			padding:0 !important;
      		}
      }

      .view-id-portada .view-content .portada-Noticia .field-op-main-image {
          width: 100% !important;
          height: auto !important;
          float: none !important;
          clear: both !important;
          display: block !important;
          position: relative !important;
          top: 0px !important;
          left: 0px !important;
          overflow: hidden !important;
      }

      .view-id-portada .view-content .views-row .field-op-main-image a{
        margin-top: 20px;
        display: inline-block;
        width: 100% !important;
      }

      // vista seccion
      .vista-seccion {
        .view-content {
          .views-row {
            .content-entrevista{
              border-right: 0 none!important;
              width: 100%!important;
            }
            .views-field-field-op-main-image-1 {
              border-right: 0 none!important;
              margin-top: 20px;
              padding: 0;
              width: 100%!important;
            }
          }
        }
      }
		.field-op-main-image{
        img.lastchild{
          width:100%!important
          }
        }

      // Share social list
      ul.socialitejs{
        li.socialite-item{
          height: 10px;
        }
      }

      // Multimedia
      body.page-multimedia,
      body.context-videos,
      body.context-imagenes,
      body.context-graficos {
        .menu-level-2 ul.menu{
          float: left!important;
        }
      }
      .pane-fotos-y-videos {
        .fila-destacado-multimierda,
        .video-destacado{
          width: 100%;
        }
      }
      body.context-videos .view-fotos-y-videos .video-destacado .views-field-title,
      body.context-imagenes .view-fotos-y-videos .video-destacado .views-field-title,
      body.context-graficos .view-fotos-y-videos .video-destacado .views-field-title,
      body.context-videos .view-fotos-y-videos .video-destacado .field-body,
      body.context-imagenes .view-fotos-y-videos .video-destacado .field-body,
      body.context-graficos .view-fotos-y-videos .video-destacado .field-body{
        width: 100%!important;
      }
      body.context-videos .menu-level-2 ul.menu li,
      body.context-imagenes .menu-level-2 ul.menu li,
      body.context-graficos .menu-level-2 ul.menu li{
        color: @gray-40!important;
      }


      body.page-multimedia .fila-destacado-multimierda .views-field-title,
      body.page-multimedia .fila-destacado-multimedia .views-field-title,
      body.page-multimedia .fila-destacado-multimierda .field-body,
      body.page-multimedia .fila-destacado-multimedia .field-body{
        width: 100%!important;
      }
      .panel-2col-stacked .panel-col-first,
      .panel-2col-stacked .panel-col-last{
        width: 50%!important;
      }
      .view-fotos-y-videos table{
        border-right: 0 none!important;
      }
      .view-fotos-y-videos table tbody tr td{
        margin-right: 20px;
        width: 42%!important;
      }

      // Firmas
      body.page-firmas{
        table td[class*=col-],
        table th[class*=col-]{
          float: left;
          width: 33%!important;
          div.content-table{
            width: 90%!important;
          }
          img.adaptive-image{
            width: 100%!important;
          }
          a{
            .font-size(14)!important;
          }
        }
      }
      // detalle firmante
      body.firma div.view-firmas-listado div.views-row .conten-articulo-firmas {
        float: none!important;
        width: 100%!important;
      }
      body.firma div.view-firmas-listado div.views-row div.views-field-field-op-main-image-1{
        float: none!important;
        text-align: center;
        width: 100%!important;
      }
      body.context-firmas .vista-firmas table tbody tr td a, body.page-firmas .vista-firmas table tbody tr td a, body.firma .vista-firmas table tbody tr td a{
        line-height: 13px;
      }

      // Post destacados
      body.context-posts-destacados {
        table {
          tbody {
            tr {
              td{
                float: left;
                margin-right: 0!important;
                width: 100%!important;
                div.field-fuente{
                  .font-size(12)!important;
                }
                div.views-field-title{
                  a{
                    .font-size(14)!important;
                  }
                }
                div.field-body{
                  p{
                    .font-size(12)!important;
                  }
                }
              }
            }
          }
        }
      }

      // mixing
      .subtitles{
        .font-size(30)!important;
        height: 30px!important;
        line-height: 30px!important;
        min-height: 30px!important;
        &:before{
          background: url(../img/arrow-title.png) no-repeat;
          content: "";
          display: inline-block;
          height: 20px;
          left: 50px;
          padding: 0 20px;
          position: absolute;
          top: -1px;
          width: 20px;
        }
        &:after{
          border-bottom: 1px solid @third-color;
            content: "";
            color: #FFF;
            display: inherit;
          left: 10px;
            margin-top: -10px;
            position: relative;
            text-transform: normal;
            top: -45px !important;
        }
      }

      // contacto
      body.context-contacto {
        #block-block-6 {
          width: 100%!important;
          iframe{
            width: 100%!important;
          }
        }
        #block-system-main {
          text-align: center;
          width: 100%;
        }
      }


      // mixin subtitles
      h1#page-title,
      h1#page-title:hover{
        .subtitles; //mixing
        .font-size(30)!important;
        height: 50px!important;
        line-height: 60px!important;
        min-height: 50px!important;
      }

      .menu-level-2 {
        ul.menu{
          float: left!important;
          margin-left: 0;
          margin-top: 0!important;
          li{
            border-right: 0 none!important;
            border-bottom: 1px solid @third-color;
            float: left;
            margin-bottom: 10px;
            padding-bottom: 15px;
            width: 100%;
            a{
              color: @gray-40!important;
              font-size: 12px!important;
            }
          }
        }
      }
      .block-menu{
        ul.menu{
          float: left!important;
          margin-left: 0;
          margin-top: 0!important;
          li{
            border-right: 0 none!important;
            border-bottom: 1px solid @third-color;
            float: left;
            margin-bottom: 10px;
            padding-bottom: 15px;
            width: 100%;
            a{
              color: @gray-40!important;
              font-size: 12px!important;
            }
            a.active-trail{
              background: none!important;
            }
          }
        }
      }

      // details
      body.page-taxonomy-term-1,
      body.context-secciones,
      body.context-contacto,
      body.context-anunciese,
      body.context-aviso-legal,
      body.page-node-55226,
      body.context-mapa-web,
      body.page-multimedia,
      body.context-videos,
      body.context-imagenes,
      body.context-graficos,
      body.page-firmas,
      body.page-editorial,
      body.page-articulos,
      body.page-analisis,
      body.posts-destacados,
      body.politica-de-privacidad,
      body.detalle-asociaciones,
      body.page-opinion,
      body.detalle-omc,
      body.page-taxonomy-term-2,
      body.page-taxonomy-term-16,
      body.page-taxonomy-term-17,
      body.page-taxonomy-term-18,
      body.detalle-fundaciones,
      body.page-taxonomy-term-3,
      body.detalle-actualidad,
      body.detalle-colegios,
      body.page-taxonomy-term-4,
      body.page-taxonomy-term-19,
      body.page-taxonomy-term-20,
      body.page-taxonomy-term-21,
      body.page-taxonomy-term-5,
      body.page-taxonomy-term-22,
      body.page-taxonomy-term-23,
      body.detalle-pacientes,
      body.detalle-asociaciones,
      body.page-taxonomy-term-6,
      body.detalle-investigacion,
      body.page-firma,
      body.context-buscar,
      body.page-buscar{
        h1#page-title{
          line-height: 101px!important;
          &:after{
            border-bottom: 0 none!important;
          }

        }
      }

      // opinion
      body.page-opinion{
        h2.block-title{
          display: none;
        }
        .content.clearfix{
          ul.menu{
            .list-menu;
            float: left!important;
          }
        }

      }

      // footer
      #region-footer-first {
        div.logo-img {
          float: left;
          width: 140px;
        }
        ul.menu{
          display: inline!important;
          width: 80%!important;
          li{
            border-right: 2px solid @link-color!important;
            border-bottom: 0 none;
            height: 13px!important;
            line-height: 6px!important;
            margin-right: 7px!important;
            padding-right: 12px!important;
            width: auto;
            a{
              .principal-font;
              .font-size(14)!important;
              color: @fourth-color!important;
              font-weight: bold!important;
            }
            &:last-child{
              border-right: 0 none!important;
              margin-right: 0!important;
              padding-right: 0!important;
            }
          }
        }
      }

      .copyright {
        float: left;
        width: 68%;
      }

      // NEWSLETTER
      body.newsletter{
        .destacado_fecha{
          bottom: 20px;
          height: 87%;
          width: 230px;
        }
      }

      //COLUMNA IZQUIERDA
      .block-views-portada-block-1{
          #myp_portada_sup_izq{
            width: 100%;
          }
        }

      //COLUMNA DERECHA
          .block-views-portada-block-1 {
            #myp_portada_sup_der {
                width: 100%!important;
                border-left: 0px solid #9C9E9F;
                padding-left:0px!important;
              }
          }

          .block-views-portada-block-3 {
            #myp_portada_low_der {
                width: 100%!important;
                border-left: 0px solid #9C9E9F;
                padding-left:0px!important;
              }
          }

      .block-views-portada-block-2 {
            #myp_portada_med_izq{
                width: 100%!important;
                border-right: 0px solid #9C9E9F;
                padding-right:0px!important;
              }
            .views-row:nth-child(1) {
              .field-body{
                width: 100%!important;
              }
            }
          }

      .block-views-portada-block-2 {
            #myp_portada_med_der {
              padding-left: 0px!important;
              width: 100%!important;
              }
          }

      .block-views-portada-block-3 {
            #myp_portada_low_izq {
                width: 100%!important;
                padding-right:0px!important;
              }
            }

      // ELIMINAR BORDER COLUMNA DERECHA
          #section-content {
            #region-content {
              .region-content-inner {
                  border-right: 0px solid #A1A1A1;
              }
            }
          }

      //bloques interiores

      .vista-seccion .view-content .views-row-2.first-page .content-entrevista .field-entradilla, .vista-seccion .view-content .views-row-2.first-page .content-entrevista .field-addthis, .vista-seccion .view-content .views-row-2.first-page .content-entrevista .content-autor, .vista-seccion .view-content .views-row-2.first-page .content-entrevista .content-body .field-body {
          width: 100%;
      }

      .vista-seccion .view-content .views-row-2.first-page .views-field-field-op-main-image-1, .vista-seccion .view-content .views-row-4.first-page .views-field-field-op-main-image-1 {
              width: 100%;
              margin-top: 25px;
              margin-bottom: 0px;
              position: relative !important;
              float: left;
              top: auto !important;
              height: auto !important;
          }

      .vista-seccion .view-content .views-row-3.first-page {
          border-right: 0px solid #9C9E9F;
          width: 100%;
          padding-right: 0px;
          float: left;
          clear: none;
          border-bottom: medium none;
      }

      .vista-seccion .view-content .views-row-5.first-page {
            width: 100%;
          }
            content-entrevista span.content-body {
                width: 100%;
            }

      .vista-seccion .view-content .views-row-4.first-page{
            width: 100%;
          }
            content-entrevista span.content-body {
                width: 100%;
            }

      .vista-seccion {
        .view-content {
            .views-row-4, .views-row-6, .views-row-7, .views-row-8 {
                float: left;
                min-height: 30px!important;
                padding-top: 0px!important;
                padding-right: 0px!important;
                width: 100%!important;
                .content-entrevista {
                    border-right: 0px solid #9C9E9F!important;
                    min-height: 30px!important;
                    height: auto !important;
                }
            }
        }
      }

      .vista-seccion {
        .view-content {
            .views-row-4 {
                .content-entrevista {
                    span.content-body {
                      width:100%!important;
                      }
                    }
                }
            }
        }

      .vista-seccion {
        .view-content {
            .views-row {
                .content-entrevista {
                      margin-bottom:0px!important;
                    }
                }
            }
        }

      div.hemeroteca {
            text-align: right;
            position: relative;
            width: 65%;
            z-index: 4;
            font-weight: bold;
            display: block;
            float: right;
            margin-right: 3%;
            right: 0px!important;
            top: 0px;
            padding-left:0px;
        }

        body.page-taxonomy-term-1 .menu-level-2 ul.menu li a.active, body.context-secciones .menu-level-2 ul.menu li a.active, body.page-taxonomy-term-1 .menu-level-2 ul.menu li a.active-trail, body.context-secciones .menu-level-2 ul.menu li a.active-trail {
            background: none!important;
            padding-bottom: 13px;
            font-weight: bold;
            color: #000 !important;
        }


		//Forze hidding navs and other elements
		#block-menu-block-3,
		.menu-block-3.menu-level-2,
		.block-menu.block-menu-opini-n,
    .view-portada.view-display-id-attachment_2,
    .view-preportada.view-display-id-preportada_attachment_2,
    .block-block-5,
    #boxes-box-lateral_derecha_varios_banneres,
    #region-footer-first ul.menu   {
			display:none !important;
		}

    .view-portada .attachment, .view-preportada .attachment {
      border-bottom:none;
    }

  .block-views-preportada-preportada-block-1,
    .block-views-preportada-preportada-block-2,
    .block-views-preportada-preportada-block-3,
    .block-views-portada-block-1,
    .block-views-portada-block-2,
    .block-views-portada-block-3 {
      .view-content {
        .field-op-main-image{
          width: 100% !important;
          height: auto !important;
          float: none !important;
          clear: both !important;
          display: block !important;
          position: relative !important;
          top: 0px !important;
          left: 0px !important;
          overflow: hidden !important;

          img.adaptive-image{
            width: 100%;
          }
        }
      }
    }
    .block-views-preportada-preportada-block-1 #myp_portada_sup_izq,
    .block-views-preportada-preportada-block-3 #myp_portada_low_izq,
    .block-views-portada-block-1 #myp_portada_sup_izq,
    .block-views-portada-block-3 #myp_portada_low_izq{
      .views-row:nth-child(1),
      .views-row:nth-child(2) {
        .field-op-main-image{
          width: 100% !important;
          height: auto !important;
          float: none !important;
          clear: both !important;
          display: block !important;
          position: relative !important;
          top: 0px !important;
          left: 0px !important;
          overflow: hidden !important;
        }
      }
    }
    .block-views-preportada-preportada-block-1 #myp_portada_sup_der,
    .block-views-preportada-preportada-block-3 #myp_portada_low_der,
    .block-views-portada-block-1 #myp_portada_sup_der,
    .block-views-portada-block-3 #myp_portada_low_der{
      .views-row:nth-child(1),
      .views-row:nth-child(3){
       .field-op-main-image{
          width: 100% !important;
          height: auto !important;
          float: none !important;
          clear: both !important;
          display: block !important;
          position: relative !important;
          top: 0px !important;
          left: 0px !important;
          overflow: hidden !important;
        }
      }
    }
    .block-views-preportada-preportada-block-2 #myp_portada_med_izq,
    .block-views-portada-block-2 #myp_portada_med_izq {
      .views-row:nth-child(1),
      .views-row:nth-child(3) {
        .field-op-main-image{
          width: 100% !important;
          height: auto !important;
          float: none !important;
          clear: both !important;
          display: block !important;
          position: relative !important;
          top: 0px !important;
          left: 0px !important;
          overflow: hidden !important;

          a {
            width: 100%;
          }
        }
      }
    }
    .block-views-preportada-preportada-block-2 #myp_portada_med_der,
    .block-views-portada-block-2 #myp_portada_med_der {
      .views-row:nth-child(1),
      .views-row:nth-child(2) {
        .field-op-main-image{
          width: 100% !important;
          height: auto !important;
          float: none !important;
          clear: both !important;
          display: block !important;
          position: relative !important;
          top: 0px !important;
          left: 0px !important;
          overflow: hidden !important;
        }
      }
    }

  //Ajustes Hemeroteca
  .view-hemeroteca{
    .view-filters {
      .views-exposed-form .views-submit-button,
      .views-exposed-form .views-submit-button .form-submit {
        display: block!important;
        width: 100%!important;
      }

      margin-bottom: 70px;
    }
    .view-content {
      .views-field.views-field-title,
      .views-field.views-field-body {
          width: 50%;
      }
      .views-field.views-field-field-op-main-image {
        // position: relative;
        // margin-top: 20px;
        // margin-bottom: 20px;
        max-width:40%;
        min-width:40%;
        width: 40%;
        height: auto;
        overflow: hidden;
        display:block;
        text-align: center;

        img {
          min-width: 100%;
        }
      }
    }
  }

}



@media only screen and (max-width: 768px) {
	body {
		padding: 0 10px!important;
	}

	// menu
        nav.navigation {
          button.btn-navbar {
            display:block;
          }
          ul.main-menu{
            display: none;

            li{
              float: left!important;
              clear: left;
              margin-bottom: 10px;
              width: 100%!important;
              a{
                margin-top: 12px;
              }
              &.menu-1609{
                left: 50%;
                margin-left: -20px;
                margin-bottom: 0;
              }
            }
          }
          &.active {
            ul.main-menu {
              display: block;
            }
          }
        }
      h2.tit_opinion{
        a{
          width: 100%!important;
        }
      }

      //Ajustes Hemeroteca
      .view-hemeroteca{
        .view-filters {
          .views-exposed-form .views-submit-button,
          .views-exposed-form .views-submit-button .form-submit {
            display: block!important;
            width: 100%!important;
          }

          margin-bottom: 70px;
        }

        .view-content {
          .views-field.views-field-title,
          .views-field.views-field-body {
              width: 100%;
          }
          .views-field.views-field-field-op-main-image {
            position: relative;
            margin-top: 20px;
            margin-bottom: 20px;
            max-width:100%;
            width: 100%;
            height: auto;
            overflow: hidden;
            display:block;
            text-align: center;

            img {
              min-width: 50%;
            }
          }
        }
      }

}
