// Icons
@import "icons.less";

// Vendors
@import "vendors.less";

// fonts
@import "fonts.less";


// Pages
@import "general.less";
@import "omc.less";
@import "omc_detalle.less";
@import "fundaciones.less";
@import "fundaciones_detalle.less";
@import "actualidad.less";
@import "actualidad_detalle.less";
@import "organizaciones.less";
@import "organizaciones_detalle.less";
@import "pacientes.less";
@import "pacientes_detalle.less";
@import "investigacion.less";
@import "investigacion_detalle.less";
@import "imagenes.less";
@import "multimedia.less";
@import "opinion.less";
@import "opinion_detalle.less";
@import "firmas.less";
@import "post-destacados.less";
@import "anunciese.less";
@import "aviso.less";
@import "cookies.less";
@import "contacto.less";
@import "mapa_web.less";
@import "politica.less";
@import "enlaces.less";
@import "busqueda.less";
@import "hemeroteca.less";
@import "analisis.less";
@import "articulos.less";
@import "editorial.less";
@import "newsletter.less";
@import "quienes_somos.less";
@import "suscribirme.less";

// Variables
@import "mixin.less";
@import "variables.less";


/* Page =================================================== */

// 1. ROOT          ==============================

@-webkit-viewport {
width : device-width; }

@-moz-viewport {
width : device-width; }

@-ms-viewport {
width : device-width; }

@-o-viewport {
width : device-width; }

@viewport {
width : device-width; }
// Scaffolding
// -------------------------
@body-bg:               red;
@basecolor:             rgb(45,53,62);
@text-color:            #666;

// Typography
// -------------------------
@line-height-base:        1.428571429; // 20/14
// @font-family-base:        @font-family-sans-serif;
// @font-family-sans-serif:  "myriad-pro",sans-serif;

.font-size(@font-size: 16){
/*@rem: (@font-size / 10);*/
font-size : @font-size * 1px;
/*font-size : ~"@{rem}rem";*/
}

// Style site
// -------------------------

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  background: #FFF;
  .principal-font;
  .font-size(14);
  font-style: normal;
  line-height: 14px;
  font-weight: normal;
  overflow-x: hidden;
  font-family: "Verdana";
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Georgia';
  font-weight: bold;
}
a{
  border-bottom: 0 none;
  color: #3863A3;
  text-decoration:none;
  &:hover{
    border-bottom: 0 none;
    text-decoration:none;
  }
}
button.agree-button,
button.find-more-button{
  font-size: 12px;
}
h1,h2,h3,h4{
  padding-left:0;
  &:hover{
    background-color: transparent!important;
  }
}
h3{

  .font-size(32);
  color: #505152;
  span{

    .font-size(24);
    margin-left: 10px;
  }
}
h3.status{
  margin-bottom: 10px;
}

ol, ul {
  list-style: none;
  padding:0;
}
textarea{
  border: 1px solid @third-color;
  font-size: 13px!important;
  height: 100px;
  padding: 10px;
  resize: none;
}

div.grippie{
  display: none;
}
div.form-type-checkbox,
div.form-radios{
  input[type=radio],
  input[type=checkbox]{
    height: 18px;
    width: 18px;
  }
  label{
    margin-left: 5px;
    position: relative;
    top: 3px;
  }
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
// i{
  // font-family: 'fontawesome';
  // color:red;
// }

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

.field-op-caption {
  margin-top: 5px;
  margin-bottom:15px;
  .font-size(11);
  clear: both;
  width: auto;
  float: left;
}


// Portada


// MODAL
ul.content-modal{
  display: inline-block;
  padding: 0 20px 0 0;
  text-align: center;
  width: 100%;
  li{
    list-style: none;
    .bloque-social{
      float: none;
    }
    div{
      ul.social-list{
        margin-left: 0;
      }
      p{
        a.inscribete{
          .font-size(14);
          background: @link-color;
          border-radius: 4px;
          color: #FFF;
          display: inline-block;
          float: none;
          text-align: center;
          width: 145px;
        }
      }
    }
  }
}


// HEADER
.block-without-title {
  display:block;
  position: relative;
}
#region-user-second{
  margin-bottom: -20px;
  .block-gtranslate,
  .block-search-form,
  .block-9{
    display: inline-block;
    float: right;
    z-index: 20;
  }
}
span.fecha-header{
  .font-size(13);
  display: inline-block;
  // font-weight: bold;
  position: relative;
  top: 55px;
}
div.bloque-social{
  float: right;
  position: relative;
  width: 185px;
  z-index: 10;
  a.inscribete{
    .font-size(14);
    background: @link-color;
    border-radius: 4px;
    color: #FFF;
    float: right;
    text-align: center;
    width: 145px;
    margin-top: 6px;
  }
}
ul.social-list{
  display: inline-block;
  margin-bottom: 0;
  margin-left: 40px;
  li{
    display: inline;
    list-style: none;
    a{
      background: url(../img/ico-rss.png) no-repeat;
      display: inline-block;
      height: 21px;
      width: 20px;
      &.facebook{
        background: url(../img/ico-facebook.png) no-repeat;
      }
      &.twitter{
        background: url(../img/ico-twitter.png) no-repeat;
      }
      &.linkedin{
        background: url(../img/ico-linkedin.png) no-repeat;
      }
      &.youtube{
        background: url(../img/ico-youtube.png) no-repeat;
      }
      &.flikr{
        background: url(../img/ico-flikr.png) no-repeat;
      }
    }
  }
}

.block-gtranslate{
  display: inline-block;
  float: right;
  width: 180px;
  position:relative;
  left: -165px;

  .goog-te-gadget-simple {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

#search-block-form{
  min-width: 150px!important;
  position:absolute;
  top:0px;
  left: auto;
  right: 164px;

  input.form-text{
    background: #FFF;
    // float: right;
    line-height: 32px;
    width: 132px;
  }
}
div.hemeroteca{
  font-size: 14px;
  padding-left: 20px;
  text-align: center;
  position: absolute;
  right: -329px;
  top: 36px;
  width: 100%;
  z-index: 4;
  font-weight: bold;
}

.region-branding-inner{
  border-top: 1px solid #CCC;
  margin-top: 36px;
}


.logo-img{
  float: left;
  margin-right: 110px;
  margin-top: 30px;
  margin-left: 80px;
}


.site-name{
  background: url(../img/myp.png) no-repeat;
  a{
    display: inline-block;
    height: 90px;
    text-indent: -9999px;
    width: 820px;
  }
}

nav.navigation{
  button.btn-navbar {
    border: none;
    padding: 8px;
    background: transparent;
    position: relative;
    left: 100%;
    margin-left: -35px;

    display: none;

    &.active,
    &:hover {
      background: #EFEFEF;
    }

    .icon-bar {
      display:block;
      width: 27px;
      height: 5px;
      margin-bottom: 4px;
      background-color: #428bca;

      &.lastchild {
        margin-bottom: 0px;
      }
    }
  }

  ul{
    li{
      background: url(../img/nav_omc.png) no-repeat;
      border-bottom: 2px solid @green;
      border-right: 0 none;
      display: inline-block;
      height: 46px;
      margin-right: 20px;
      a{
        .font-size(13);
        border-bottom: 0 none;
        color: @gray-60;
        display: inline-block;
        font-weight: bold;
        margin-top: 4px;
        padding-left: 20px;
        text-transform: uppercase;
      }
      &.menu-844{
        background: url(../img/nav_fundaciones.png) no-repeat;
        border-bottom: 2px solid @blue;
      }
      &.menu-848{
        background: url(../img/nav_actualidad.png) no-repeat;
        border-bottom: 2px solid @red;
      }
      &.menu-849{
        background: url(../img/nav_organizaciones.png) no-repeat;
        border-bottom: 2px solid @purple;
      }
      &.menu-853{
        background: url(../img/nav_pacientes.png) no-repeat;
        border-bottom: 2px solid @orange;
      }
      &.menu-856{
        background: url(../img/nav_investigacion.png) no-repeat;
        border-bottom: 2px solid @yellow;
      }
      &.menu-857{
        background: url(../img/nav_multimedia.png) no-repeat;
        border-bottom: 2px solid @green-multi;
      }
      &.menu-2461{
        background: url(../img/nav_hemeroteca.png) no-repeat;
        border-bottom: 2px solid @gray-40;
        display: none;
      }
      &.menu-2462{
        background: url(../img/nav_opinion.png) no-repeat;
        border-bottom: 2px solid @pink;
        display: none;
      }
    }
    li.menu-1609{
      background: url(../img/ico-home.png) no-repeat;
      border-bottom: 0 none;
      position: relative;
      top: 10px;
      a{
        text-indent: -9999px;
        width: 22px;
      }
    }

  }
}


// CONTENT

body.page-portada,
body.page-preportada{
  .block-system-main{
    border-top: 1px solid #A1A1A1;
    margin-top: 15px;
    padding-top: 20px;
    div.block-inner{
      // border-right: 1px solid #A1A1A1;
      // padding-right: 20px;
    }
  }
}


.destacado_fecha{
    background: rgba(0, 0, 0, 0.8);
    bottom: 10px;
    color: #FFF;
    display: inline-block;
    left: 0;
    position: absolute;
    padding: 0;
    width: 100%;
    z-index: 10;
    div.fechalugar{
      .font-size(12);
      float: left;
      padding: 20px;
    }
    div.field-lugar{
      .font-size(12);
      float: left;
    }
}

.destacado_titulo{
  a{
    .secondary-font;
    .font-size(30);
    line-height: 32px;
    color: #FFF!important;
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
  }
}

.destacado_entradilla,
.destacado_body {
  display: none;
}


// CONTENIDO DESTCADO
.view-portada .attachment,
.view-preportada .attachment {
  border-bottom: 1px solid @third-color;
  padding-bottom: 25px;
}
.view-portada.view-display-id-attachment_2,
.view-preportada.view-display-id-preportada_attachment_2{
  background: #EAEEF4;
  margin-top: 20px;
  padding: 10px 0 10px 20px;
  h3{
    .principal-font;
    text-align: left;
    .font-size(15);
    color: @link-color;
    font-weight: bold;
    text-transform: uppercase;
  }
  table{
    tbody{
      tr{
        td{
          a{
            color: @link-color;
            .principal-font;
            text-align: left;
            .font-size(14);
            font-weight: bold;
            display: inline-block;
            line-height: 15px;
            margin-top: 10px;
            width: 190px;
          }
          div.field-op-main-image{
            margin-right: 20px;
          }
        }
      }
    }
  }
}


// BLOQUES ENTREVISTAS
.field-autor{
  color: @link-color;
  .font-size(11);
}
h2.entrevista{
    .principal-font;
    .font-size(14);
    background: url(../img/nav_entrevistas.png) no-repeat;
    border-bottom: 2px solid @orange;
    color: @orange;
    display: inline-block;
    height: 26px;
    margin-bottom: 10px;
    margin-top: 0;
    padding-left: 20px;
    width: 100%;
}

.view-id-portada,
.view-id-preportada {
  .view-content{
    .views-row{
      border-bottom: 1px solid @third-color;
      display: inline-block;
      margin-top: 20px;
      padding-bottom: 50px;
      width: 100%;
      position: relative;
      span.antetitulo{

      }
      .content-entrevista{
        // border-right: 1px solid @third-color;
        float: left;
        padding: 0 20px 0 0;
        width: 100%;
        div.field-antetitulo{
          .principal-font;
          .font-size(14);
          color: @second-color;
          line-height: 14px;
          font-weight: bold;
        }
        h2.entrevista {
          display: none;
        }
        a{
          .secondary-font;
          .font-size(33);
          color: @link-color;
          display: inline-block;
          line-height: 33px;
          margin-top: 10px;
        }
        div.field-autor{
            .font-size(11);
            color: @link-color;
            float: left;
            margin-right: 5px;
        }
        span.content-autor{
          display: inline-block;
          margin-bottom: 10px;
          width: 50%;

          span{
            .font-size(13);
            color: @link-color;
            float: left;
            margin-right: 5px;
            line-height: 21px;
            div.field-lugar,
            div.field-lugar{
              .font-size(13);
              color: @link-color;
              font-weight: normal;
              float: left;
              margin-right: 5px;
            }
          }

          .lugar .field-lugar {
            .lugar-style;
          }
          .autor .field-autor {
            .autor-style;
          }
        }
        div.fechalugar{
          color: @link-color;
          .principal-font;
          .font-size(11);
        }
        div.field-lugar{
          color: @gray-80;
          .principal-font;
          .font-size(16);
          font-weight: bold;
          line-height: 21px;
        }
        .field-entradilla {
          margin-top: 10px;
          color: @fifth-color;
          font-weight: bold;
        }
        div.field-body{
          width: 66%;
          float: left;
          p{
            .principal-font;
            .font-size(15);
            line-height: 16px;
          }
        }
        span.read-more{
          clear:both;
          display: block;
          width: auto;
          a{
            .principal-font;
            .font-size(12);
            line-height: 13px;
            &:after{
              content: "[+]";
              padding-left: 5px;
            }
          }
        }
        div.field-url{
          a{
            .font-size(10);
            color: @link-color;
            display: inline-block;
            &:before{
              background: url(../img/arrow-right.png) no-repeat;
              content: "";
              display: inline-block;
              height: 9px;
              margin-right: 2px;
              width: 9px;
            }
          }
        }
      }
      .field-op-main-image{
        float: right;
        padding: 0 0 0 20px;
        width: 50%;
        img.adaptive-image{
          width: 100%;
        }
      }
    }
    .views-row.Destacado{
      .content-entrevista{
        border-right: 0 none;
        width: 100%;
      }
    }
  }
  .views-row.portada-Noticia,
  .views-row.portada-Firma,
  .views-row.views-row-1 {
    .field-op-main-image {
      position: absolute;
      float: none;
      padding: 0px;
      top: auto;
      bottom: 14px;
      left: auto;
      right: 0px;
      width: 255px;
      height: 150px;
    }
  }
}

// CAROUSEL
.view-display-id-attachment_1{
  position: relative;
}

.destacado_imagen{
  position: relative;
  z-index: 1;
  div.field-op-main-image{
    position: relative!important;
    float: none!important;
    width: 100%!important;
    height: auto!important;
    padding-left: 0!important;
    left:0px!important;
    top:0px!important;
  }
}

// LATERAL
.region-sidebar-second{
  .block{
    border-bottom: 1px solid @third-color;
    margin-bottom: 10px;
    padding: 20px 0px;
    text-align: center;
}
}

a.enlaces-interes{
  background: url(../img/enlaces-interes.png) no-repeat;
  display: inline-block;
  height: 150px;
  text-indent: -9999px;
  width: 180px;
}



#block-block-5{
  text-align: left;
  div.content{
    p{
      border-bottom: 1px dotted #CCC;
      padding-bottom: 10px;
      padding-left: 20px;
      a{
        .font-size(15);
        color: @link-color;
        border-bottom: 0 none;
        font-weight: bold;
      }
    }
    p.last{
        border-bottom: 0 none;
        margin-bottom: -10px;
    }
  }
}


h2.tit_opinion{
  display: inline-block;
  line-height: 30px;
  margin-top: 0;
  width: 100%;
  a{
    .font-size(13)!important;
    .principal-font!important;
    background: url(../img/nav_opinion.png) no-repeat;
    border-bottom: 2px solid @pink;
    color: @gray-60!important;
    display: inline-block!important;
    font-weight: bold!important;
    height: 46px!important;
    margin-top: 4px!important;
    padding-left: 20px!important;
    text-transform: uppercase!important;
    width: 100%!important;
  }
}


ul.list-images{
  margin-top: 20px;
  li{
    display: inline-block;
    list-style: none;
    margin-bottom: 10px;
  }
}

div.feed-icon{
  display: none;
}

// FOOTER
#zone-footer-wrapper{
  background: transparent!important;
  .form-item-search-block-form,
  #block-system-user-menu--2{
    display: none;
  }
  div.logo-img{
    margin-left: 20px;
    margin-top: -10px;
    margin-right: 10px;
  }
  div.hemeroteca{
    display: none;
  }
}
#zone-footer{
  border-top: 1px solid @third-color;
  padding-top: 20px;
}
#region-footer-first{
  background: #f9fafa;
  padding: 30px 0;
  ul.menu{
    display: inline;
    width: 100%;
    li{
      border-right: 2px solid @link-color;
      height: 13px;
      line-height: 6px;
      margin-right: 7px;
      padding-right: 12px;
      a{
        .principal-font;
        .font-size(14);
        color: @fourth-color;
        font-weight: bold;
      }
      &:last-child{
        border-right: 0 none;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
}
.copyright{
    .principal-font;
    .font-size(14);
    color: @fourth-color;
    display: inline-block;
    font-weight: bold;
    margin-left: 6px;
}



// components

// pager
ul.pager{
  display: inline-block;
  margin-bottom: -30px;
  margin-top: 20px;
  li{
    float: left;
    margin: 0;
    padding: 0!important;
    a{
      .font-size(18);
      border: 1px dotted @third-color;
      border-radius: 0;
      color: @link-color;
    }
  }
  li.pager-current{
    .font-size(18);
    border: 1px dotted @third-color;
    border-radius: 0;
    color: @link-color;
    padding: 5px 14px!important;
  }
  li.pager-previous{
    a{
      background: url(../img/prev.png) no-repeat;
      border: 0 none;
      height: 17px;
      margin-right: 10px;
      margin-top: 14px;
      text-indent: -9999px;
      width: 14px;
    }
  }
  li.pager-next{
    a{
      background: url(../img/next.png) no-repeat;
      border: 0 none;
      height: 17px;
      margin-left: 10px;
      margin-top: 14px;
      text-indent: -9999px;
      width: 14px;
    }
  }
  li.pager-first,
  li.pager-last{
    display: none;
  }
}
.block-system-main div.block-inner{
  // border-right: 1px solid #A1A1A1;
  // padding-right: 20px;
}

#section-content #region-content .region-content-inner {
  border-right: 1px solid #A1A1A1;
  padding-right: 10px;
  margin-top: 20px;
  margin-right: -10px;
}
#section-content #region-content .region-content-inner .content {
  margin-top: 20px;
}


// bloque ultimas noticias
.block-5ce78ee8d7030d935fd275a05708281b,
.block-other-news{
  margin-top: 20px;
  h2.block-title{
    .font-size(14)!important;
    border-bottom: 0 none!important;
    font-family: "Verdana";
    font-weight: bold;
    margin: 0 0 20px 0;
    text-align: left;
    text-transform: uppercase;
  }
  div.views-row{
    border-bottom: 1px solid @third-color;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: left;
    a{
      .font-size(20);
      line-height: 22px;
      color: @link-color;
      display: inline-block;
      // font-family: 'Georgia, serif';
      margin-bottom: 10px;
    }
    p,
    div.field-body{
      .font-size(15);
      font-family: "Verdana";
      line-height: 18px;
    }
    span.read-more{
      a{
        .principal-font;
        .font-size(12);
        color: @link-color;
        &:after{
          content: "[+]";
          padding-left: 5px;
        }
      }
    }
    &.views-row-last{
      border-bottom: 0 none;
    }
  }
}

// Share social list
ul.socialitejs{
  margin-left: 0!important;
  padding-left: 0!important;
  li.socialite-item{
    display: inline-block;
    width: 90px;
    &.first,
    &.last{
      width: 240px;
    }
  }
}

.socialitejs.layout1{
  display: inline-block;
  margin-bottom: 40px;
}
ul.socialitejs li.socialite-item.first, ul.socialitejs li.socialite-item.last {
  width: auto;
}

// sobreescritos
a.views-more-link,
span.read-more a {
  font-size:13px !important;
}

// Portada nueva bloques - v7
.block-views-preportada-preportada-block-1,
.block-views-preportada-preportada-block-2,
.block-views-preportada-preportada-block-3,
.block-views-portada-block-1,
.block-views-portada-block-2,
.block-views-portada-block-3 {
  padding: 0px 0px 20px 0px;
  margin: 20px 0px;
  border-top: 1px solid @third-color;
  border-bottom: 1px solid @third-color;

  .view-content {
    div.field-antetitulo{
      .principal-font;
      .font-size(12);
      color: @second-color;
      line-height: 14px;
      font-weight: bold;
    }
    a{
      .secondary-font;
      .font-size(26);
      color: @link-color;
      display: inline-block;
      line-height: 33px;
      margin-top: 10px;
    }
    div.field-autor{
        .font-size(11);
        color: @link-color;
        float: left;
        margin-right: 5px;
    }
    span.content-autor{
      display: inline-block;
      margin-bottom: 10px;

      span{
        .font-size(13);
        color: @link-color;
        float: left;
        margin-right: 5px;
        line-height: 21px;
        div.field-lugar,
        div.field-lugar{
          .font-size(13);
          color: @link-color;
          font-weight: normal;
          float: left;
          margin-right: 5px;
        }
      }

      .lugar .field-lugar {
        .lugar-style;
      }
      .autor .field-autor {
        .autor-style;
      }
    }
    div.fechalugar{
      color: @link-color;
      .principal-font;
      .font-size(11);
    }
    div.field-lugar{
      color: @gray-80;
      .principal-font;
      .font-size(11);
      font-weight: bold;
      line-height: 21px;
    }
    .field-entradilla {
      margin-top: 10px;
      color: @fifth-color;
      font-weight: bold;
    }
    div.field-body{
      width: 100%;
      float: left;
      p{
        .principal-font;
        .font-size(13);
        line-height: 16px;
      }
    }
    span.read-more{
      clear:both;
      display: block;
      width: auto;
      a{
        .principal-font;
        .font-size(13);
        line-height: 13px;
        &:after{
          content: "[+]";
          padding-left: 5px;
        }
      }
    }
    div.field-url{
      a{
        .font-size(11);
        color: @link-color;
        display: inline-block;
        &:before{
          background: url(../img/arrow-right.png) no-repeat;
          content: "";
          display: inline-block;
          height: 9px;
          margin-right: 2px;
          width: 9px;
        }
      }
    }
    }
    .field-op-main-image{
      float: left !important;
      padding: 0 0 0 0px !important;
      width: 100% !important;
      display:none;
      img.adaptive-image{
        width: 100%;
      }
  }
}


.block-views-preportada-preportada-block-1,
.block-views-preportada-preportada-block-3,
.block-views-portada-block-1,
.block-views-portada-block-3 {
  #myp_portada_sup_izq,
  #myp_portada_low_izq {
    //width: 600px;
    width: 540px;
    float: left;
    padding-right: 10px;
  }
  #myp_portada_sup_der,
  #myp_portada_low_der {
    //width: 267px;
    width: 335px;
    float:right;
    border-left: 1px solid @third-color;
    padding-left: 10px;

    .views-row {
      .field-antetitulo {
        .font-size(11);
        line-height: 14px;
      }
      a{
        .font-size(20);
        line-height: 20px;
      }
      .field-body {display:none;}

      .field-op-main-image{
        height:auto;
        .field-op-main-image {
          height:auto;
        }
      }
    }
  }
}
.block-views-preportada-preportada-block-2,
.block-views-portada-block-2 {
  #myp_portada_med_izq {
    //width: 267px;
    width: 335px;
    float: left;
    border-right: 1px solid @third-color;
    padding-right: 10px;

    .views-row {
      .field-antetitulo {
        .font-size(11);
        line-height: 14px;
      }
      a{
        .font-size(20);
        line-height: 20px;
      }
      .field-body {display:none;}

      .field-op-main-image{
        height:auto;
        .field-op-main-image {
          height:auto;
        }
      }
    }
  }
  #myp_portada_med_der {
    //width: 600px;
    width: 540px;
    float:right;
    padding-left: 10px;
  }
}

.block-views-preportada-preportada-block-1 #myp_portada_sup_izq,
.block-views-preportada-preportada-block-3 #myp_portada_low_izq,
.block-views-portada-block-1 #myp_portada_sup_izq,
.block-views-portada-block-3 #myp_portada_low_izq{
  .views-row:nth-child(1),
  .views-row:nth-child(2) {
    position: relative;

    a {
      width:100%;
    }
    span.content-autor{
        float:none;
        clear:both;
        //width: 60%;
        width: 70%;
        display:block;
        overflow: hidden;
    }
    .field-body {
      float: left;
      //width: 52%;
      width: 48%;
    }
    .field-op-main-image{
      display:block;
      padding: 0px;
      margin: 0px;
      right: 0px;
      width: 255px !important;
      height: 150px !important;
      position: absolute;
      top: auto;
      left: auto;
      right: 0px;
      bottom: 14px;
    }
  }
}
.block-views-preportada-preportada-block-1 #myp_portada_sup_der,
.block-views-preportada-preportada-block-3 #myp_portada_low_der,
.block-views-portada-block-1 #myp_portada_sup_der,
.block-views-portada-block-3 #myp_portada_low_der{
  .views-row:nth-child(1),
  .views-row:nth-child(3){
   position: relative;

   .field-op-main-image{
      position: relative;
      top:0px;
      left:0px;

      display:block;

      a {
        width:100%;
      }
    }
  }
}
.block-views-preportada-preportada-block-3 #myp_portada_low_der,
.block-views-portada-block-3 #myp_portada_low_der{
  .views-row:nth-child(3){
   .field-op-main-image{
      display:none;
    }
  }
}

.block-views-preportada-preportada-block-2 #myp_portada_med_izq,
.block-views-portada-block-2 #myp_portada_med_izq {
  .views-row:nth-child(1),
  .views-row:nth-child(3) {
    position: relative;

    .field-op-main-image{
      position: relative;
      top:0px;
      left:0px;

      display:block;

      a {
        width: 100%;
      }
    }
  }
}
.block-views-preportada-preportada-block-2 #myp_portada_med_der,
.block-views-portada-block-2 #myp_portada_med_der {
  .views-row:nth-child(1),
  .views-row:nth-child(2) {
    position: relative;

    a {
      width:100%;
    }
    span.content-autor{
        float:none;
        clear:both;
        //width: 60%;
        width: 70%;
        display:block;
        overflow: hidden;
    }
    .field-body {
      float: left;
      //width: 52%;
      width: 48%;
    }
    .field-op-main-image{
      display:block;
      padding: 0px;
      margin: 0px;
      right: 0px;
      width: 255px !important;
      height: 150px !important;
      position: absolute;
      top: auto;
      left: auto;
      right: 0px;
      bottom: 14px;
    }
  }
}

// Elimina border-bottom en ultimos elementos de columnas
.block-views-preportada-preportada-block-1 #myp_portada_sup_izq .views-row.lastchild,
.block-views-preportada-preportada-block-1 #myp_portada_sup_der .views-row.lastchild,
.block-views-preportada-preportada-block-2 #myp_portada_med_izq .views-row.lastchild,
.block-views-preportada-preportada-block-2 #myp_portada_med_der .views-row.lastchild,
.block-views-preportada-preportada-block-3 #myp_portada_low_izq .views-row.lastchild,
.block-views-preportada-preportada-block-3 #myp_portada_low_der .views-row.lastchild,
.block-views-portada-block-1 #myp_portada_sup_izq .views-row.lastchild,
.block-views-portada-block-1 #myp_portada_sup_der .views-row.lastchild,
.block-views-portada-block-2 #myp_portada_med_izq .views-row.lastchild,
.block-views-portada-block-2 #myp_portada_med_der .views-row.lastchild,
.block-views-portada-block-3 #myp_portada_low_izq .views-row.lastchild,
.block-views-portada-block-3 #myp_portada_low_der .views-row.lastchild {
  border-bottom: none;
}

// Hack radio buttons inline
#edit-notify-type .form-item-notify-type {
  display:block;
}

// Hack iconos sociales
.group-tools {
  position: relative;
  clear: both;
  overflow: hidden;
  float: none;
}
.group-tools .field-block-service-links {
  display:block;
  // position: absolute;
  // left:4px;
  // z-index: 99;

  .fb_iframe_widget {
    position: relative;
    margin-right: 10px;
  }
  #twitter-widget-0 {
    position: relative;
    top: 5px;
    margin-right: 10px;
  }
  #___plusone_0{
    position:relative;
    left: -29px;
    top: 7px;
  }
  a[data-pin-log="button_pinit"] {
    position:relative;
    left: -56px;
    top: 5px;
  }
}

// Hack iconos imprimir
.group-tools .field-block-print-mail-pdf {
  display:block;
  position: absolute;
  top: 0px;
  left:333px;
  z-index: 99;

  .print_html {
    position: relative;
    top: 9px;
    left: 0px;
  }
  .print_mail {
    position: relative;
    top: -10px;
    left: 30px;
  }

  .content {
    margin-top:0px !important;
  }
}


// AddThis Toolbox
.addthis_toolbox a {
  width:auto!important;
}

// Aside justify
// aside#region-sidebar-first {
//   div,p,a,span {
//     text-align:justify;
//   }
// }


//Tablets
@import "responsive_tablet.less";

//Mobile
@import "responsive.less";

@media print{
  @import "print.less";
}
