// Styles for suscribirme

body.suscribirme{
	h1#page-title,
	h1#page-title:hover{
		.subtitles; //mixing
		background: @gray-40!important;
		&:after{
			content: "Suscripción";	
		}
		margin-bottom: 30px;		
	}
	
	h2.block-title {
		color: @link-color;
		font-family: 'Georgia, serif';
		// font-size: 38px;
		// line-height: 38px;
		font-size: 36px;
		line-height: 36px;
		margin-top: 10px;
		font-variant:normal;
	}
	.captcha legend {
		display: none;
	}
}