// VARIABLES


// GrayColors
@black:     		#000000;
@gray-90:   		#1A1A1A;
@gray-80:   		#333333;
@gray-70:   		#4C4C4C;
@gray-60:   		#666666;
@gray-50:   		#808080;
@gray-40:   		#999999;
@gray-30:   		#B2B2B2;
@gray-20:   		#CCCCCC;
@gray-10:   		#E6E6E6;
@white:     		#FFFFFF;


// Colours
@blue:				#589CDF;
@green:				#4F8B3F;	
@green-multi:		#8BAE35;	
@red:				#AF0F22;	
@yellow:			#E3B62B;	
@orange:			#D67E1E;	
@pink:				#C10077;	
@purple:			#7E1A74;


// General - App Styles
@first-color:    	#CCCCCC; //Text
@second-color:   	#646567; //Highlight
@third-color:    	#9c9e9f; //Borders and buttons
@fourth-color:   	#3e88ba; //Contrast color
@fifth-color:   	#3e3d40; //Contrast color
@extra-color:    	#6094E7; //Footer band color

// Text
@link-color: 		#006aa7; // link color
@hover-color: 		#000000; // link hover color